.ql-editor .ql-video {
    display: block;
    max-width: 100%;
    width: 960px;
    height: 540px;
    margin: 0 auto;
}

.mCSB_draggerRail {
  display: none !important;
}

.cover-content {
  padding: 50px 0;
}

@media only screen and (max-width: 991px) {
  .cover-content {
    padding: 3rem 0;
  }
}

.___news_post_content {
  font-size: 16px;
  color: #000000;
}

@media only screen and (max-width: 991px) {
  .___news_post_content {
    font-size: 14px;
  }
}

.___news_post_content h1.___title {
  font-family: "VN-KiaSignature-Bold", sans-serif !important;
  font-size: 30px;
}

.___news_post_content p.__publish_date {
  color: #acacac;
  font-size: 14px;
}

.___news_post_content .___post_content {
  margin-top: 20px;
}

.___news_post_content h1 {
  font-size: 20px;
  font-family: "VN-KiaSignature-Bold", sans-serif !important;
}

.___news_post_content h2 {
  font-size: 18px;
  font-family: "VN-KiaSignature-Bold", sans-serif !important;
}

.___news_post_content h3 {
  font-size: 16px;
  font-family: "VN-KiaSignature-Bold", sans-serif !important;
}

.___news_post_content h4 {
  font-size: 14px;
  font-family: "VN-KiaSignature-Bold", sans-serif !important;
}

.___news_post_content h5 {
  font-size: 12px;
  font-family: "VN-KiaSignature-Bold", sans-serif !important;
}

.___news_post_content h6 {
  font-size: 10px;
  font-family: "VN-KiaSignature-Bold", sans-serif !important;
}

.___news_post_content .___post_content img {
  max-width: 100% !important;
  height: auto;
  display: block;
  margin: 0 auto;
  padding-bottom: 1rem;
}

.___news_post_content .___post_content .responsive-iframe {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}

.___news_post_content .___post_content .responsive-iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.___news_post_content .___post_content p,
.___news_post_content .___post_content span {
  font-family: "VN-KiaSignature-Regular", sans-serif !important;
  font-size: 16px;
  color: #000000;
  line-height: 26px;
}

@media only screen and (max-width: 1366px) {
  .___news_post_content .___post_content p,
  .___news_post_content .___post_content span {
    font-size: 14px;
  }
}

.___news_post_content .___post_content strong {
  color: #000000;
}

.related-posts {
  padding-top: 2rem;
  padding-bottom: 3rem;
}

.related-posts .title-detail-post {
  text-align: center;
  font-size: 21px;
  text-transform: uppercase;
  margin: 2rem auto 4rem;
}

.related-posts .title-detail-post h3 {
  font-family: "VN-KiaSignature-Bold", sans-serif;
}

.related-posts .post-related-detail {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

@media only screen and (max-width: 767px) {
  .related-posts .post-related-detail {
    display: block;
  }
}

.related-posts .post-related-detail .detail-related-articles-wrapper {
  flex: 0 0 32%;
  max-width: 32%;
  border: 1px solid #d5d5d5;
}

@media only screen and (max-width: 767px) {
  .related-posts .post-related-detail .detail-related-articles-wrapper {
    flex: 1;
    max-width: 100%;
    margin-bottom: 3rem;
  }
}

.related-posts .post-related-detail .detail-related-articles-wrapper .card_image-container {
  width: 100%;
  height: 0%;
  padding-bottom: 66%;
  overflow: hidden;
  position: relative;
}

.related-posts .post-related-detail .detail-related-articles-wrapper .card_image-container .img-detail {
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
}

.related-posts .post-related-detail .detail-related-articles-wrapper .card_image-container .img-detail img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  transition: transform .3s, visibility .3s ease-in;
}

.related-posts .post-related-detail .detail-related-articles-wrapper .card_image-container .img-detail:hover img {
  transform: scale(1.08);
}

.related-posts .post-related-detail .detail-related-articles-wrapper .car_content-container {
  padding: 20px;
  color: #000;
}

.related-posts .post-related-detail .detail-related-articles-wrapper .car_content-container .car-title {
  text-align: center;
  padding-bottom: 2rem;
  border-bottom: 0.1px solid;
}

.related-posts .post-related-detail .detail-related-articles-wrapper .car_content-container .car-title h2 {
  font-family: "VN-KiaSignature-Bold", sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  font-size: 24px;
}

@media only screen and (max-width: 1366px) {
  .related-posts .post-related-detail .detail-related-articles-wrapper .car_content-container .car-title h2 {
    font-size: 14px;
  }
}

.related-posts .post-related-detail .detail-related-articles-wrapper .car_content-container .car-content {
  margin-top: 2rem;
}

.related-posts .post-related-detail .detail-related-articles-wrapper .car_content-container .car-content .content {
  font-family: "VN-KiaSignature-Regular", sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  font-size: 16px;
}

@media only screen and (max-width: 1366px) {
  .related-posts .post-related-detail .detail-related-articles-wrapper .car_content-container .car-content .content {
    font-size: 14px;
  }
}

