.mCSB_draggerRail {
  display: none !important;
}

@media only screen and (max-width: 991px) {
  .contact-wrapper {
    padding-top: 0;
  }
}

.contact-wrapper .__contact_content {
  padding: 30px 0 45px;
}

@media only screen and (max-width: 1500px) {
  .contact-wrapper .__contact_content {
    max-width: 90%;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 767px) {
  .contact-wrapper .__contact_content {
    max-width: 100%;
  }
}

@media only screen and (max-width: 576px) {
  .contact-wrapper .__contact_content {
    padding: 0 0 25px;
  }
}

.contact-wrapper .__contact_content .breakcrum-custom ol.breadcrumb {
  margin-bottom: 0;
}

div._box_contact h1.title-contact {
  text-align: center;
  text-transform: uppercase;
  font-size: 32px;
  padding-bottom: 5rem;
  padding-top: 4rem;
  font-family: "VN-KiaSignature-Bold", sans-serif;
}

@media only screen and (max-width: 991px) {
  div._box_contact h1.title-contact {
    font-size: 33px;
    padding-bottom: 3rem;
    padding-top: 3rem;
  }
}

@media only screen and (max-width: 480px) {
  div._box_contact h1.title-contact {
    font-size: 25px;
    padding-bottom: 2rem;
    padding-top: 2rem;
  }
}

@media only screen and (max-width: 380px) {
  div._box_contact h1.title-contact {
    font-size: 23px;
    padding-bottom: 1rem;
    padding-top: 1rem;
  }
}

@media only screen and (max-width: 576px) {
  div._box_contact {
    padding: 20px 0;
  }
}

ul.box-contact {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  margin: 0 auto;
}

@media only screen and (max-width: 991px) {
  ul.box-contact {
    max-width: 100%;
  }
}

@media only screen and (max-width: 576px) {
  ul.box-contact {
    flex-direction: column;
  }
}

ul.box-contact li.box-item {
  flex: 1;
  text-align: center;
  border-right: solid 2px #d9d9d9;
  padding: 15px 0;
}

@media only screen and (max-width: 576px) {
  ul.box-contact li.box-item {
    padding: 0;
    border-right: unset;
    border-bottom: solid 2px #d9d9d9;
    padding: 5px 0;
  }
}

ul.box-contact li.box-item:last-child {
  border: none;
}

@media only screen and (max-width: 576px) {
  ul.box-contact li.box-item ul.box-content li.icon img {
    max-width: 5%;
  }
}

ul.box-contact li.box-item ul.box-content li.label {
  text-transform: uppercase;
}

ul.box-contact li.box-item ul.box-content li.content {
  margin-top: 15px;
}

ul.box-contact li.box-item ul.box-content li.content a, ul.box-contact li.box-item ul.box-content li.content span {
  color: #1f1f1f;
  font-family: "VN-KiaSignature-Bold", sans-serif;
  font-size: 16px;
}

@media only screen and (max-width: 576px) {
  ul.box-contact li.box-item ul.box-content li.content a {
    display: block;
  }
}

@media only screen and (max-width: 576px) {
  ul.box-contact li.box-item ul.box-content li.content {
    margin-top: 0;
  }
}

.___banner {
  position: relative;
}

.___banner img {
  filter: brightness(0.75);
}

@media only screen and (max-width: 576px) {
  .___banner img {
    min-height: 200px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media only screen and (max-width: 480px) {
  .___banner img {
    min-height: 0px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.___banner .___pagetitle {
  position: absolute;
  z-index: 1;
  bottom: 30%;
  left: 25%;
  color: #ffffff;
  text-shadow: 3px 3px #000000;
  font-family: "VN-KiaSignature-Bold", sans-serif;
  text-transform: unset;
}

@media only screen and (max-width: 1920px) {
  .___banner .___pagetitle {
    left: 60px;
  }
}

@media only screen and (max-width: 767px) {
  .___banner .___pagetitle {
    left: 30px;
  }
}

