@charset "UTF-8";
.mCSB_draggerRail {
  display: none !important;
}

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}

[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 1px solid #cccccc;
  background: #fff;
  border-radius: 0;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '\2713\0020';
  position: absolute;
  top: .17em;
  left: .2em;
  font-size: 1.2em;
  line-height: 0.8;
  color: #05141F;
  transition: all .2s;
  font-family: 'Lucida Sans Unicode', 'Arial Unicode MS', Arial;
}

/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}

[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}

/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}

[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}

[type="checkbox"]:disabled + label {
  color: #aaa;
}

/* accessibility */
[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #666;
}

[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 1px solid #cccccc;
  background: #fff;
  border-radius: 0;
}

[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
  content: '\2713\0020';
  position: absolute;
  top: .15em;
  left: 3.5px;
  font-size: 1.5em;
  line-height: 0.8;
  color: #05141F;
  transition: all .2s;
  font-family: 'Lucida Sans Unicode', 'Arial Unicode MS', Arial;
  transition: all 0.2s ease;
}

[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}

[type="radio"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}

/*
<p>
<input autocomplete="off" type="checkbox" name="accept" id="accept" checked="checked"/>
<label for="accept">Tôi xác nhận cung cấp thông tin cá nhân để liên hệ với KIA Việt Nam</label>
</p>*/
/*
<p>
<input type="radio" value="{{$i}}" id="car{{$i}}" name="model">
<label class="name-and-price" for="car{{$i}}">
<span class="name">Sorento</span>
</label>
</p>*/
.rounded-radio:checked,
.rounded-radio:not(:checked) {
  position: absolute;
  left: -9999px;
}

.rounded-radio:checked + label,
.rounded-radio:not(:checked) + label {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #1f1f1f;
  font-size: 14px;
  text-transform: uppercase;
}

@media only screen and (max-width: 991px) {
  .rounded-radio:checked + label,
  .rounded-radio:not(:checked) + label {
    font-size: 14px;
  }
}

.rounded-radio:checked + label:before,
.rounded-radio:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #ccc;
  border-radius: 100%;
  background: #fff;
}

.rounded-radio:checked + label:after,
.rounded-radio:not(:checked) + label:after {
  content: '';
  width: 12px;
  height: 12px;
  background: #05141F;
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 100%;
  transition: all 0.2s ease;
}

.rounded-radio:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}

.rounded-radio:checked + label:after {
  opacity: 1;
  transform: scale(1);
}

