ul {
  padding: 0;
}

section.footer {
  padding: 4rem 0;
  background-color: #00095b;
}

section.footer a {
  text-decoration: none;
}

section.footer .footer-logo {
  padding-bottom: 2rem;
}

section.footer .footer-logo img {
  width: 150px;
}

section.footer .footer-content {
  display: flex;
  justify-content: space-between;
}

section.footer .footer-content .footer-col {
  align-self: flex-start;
}

section.footer .footer-content .footer-col:last-child {
  margin-right: 0;
}

section.footer .footer-content .col-company ul.company,
section.footer .footer-content .footer-col-info-mb ul.company {
  margin-top: 2rem;
}

section.footer .footer-content .col-company ul.company li.logo,
section.footer .footer-content .footer-col-info-mb ul.company li.logo {
  padding: 25px 0;
  max-width: 68px;
}

section.footer .footer-content .col-company ul.company li.company-info ul,
section.footer .footer-content .footer-col-info-mb ul.company li.company-info ul {
  display: flex;
  flex-direction: column;
  line-height: 20px;
  text-transform: uppercase;
}

section.footer .footer-content .col-company ul.company li.company-info ul li,
section.footer .footer-content .footer-col-info-mb ul.company li.company-info ul li {
  font-size: 12px;
  margin-bottom: 10px;
}

section.footer .footer-content .col-company ul.company li.company-info ul li span,
section.footer .footer-content .footer-col-info-mb ul.company li.company-info ul li span {
  color: #fff;
}

section.footer .footer-content .col-company ul.company li.company-info ul li:last-child,
section.footer .footer-content .footer-col-info-mb ul.company li.company-info ul li:last-child {
  margin-bottom: 0;
}

section.footer .footer-content .col-company ul.company li.company-info ul li.name,
section.footer .footer-content .footer-col-info-mb ul.company li.company-info ul li.name {
  font-size: 16px;
}

section.footer .footer-content .col-company ul.company li.bct,
section.footer .footer-content .footer-col-info-mb ul.company li.bct {
  padding: 20px 0 30px;
}

section.footer .footer-content .col-company ul.company li.site,
section.footer .footer-content .footer-col-info-mb ul.company li.site {
  display: flex;
}

section.footer .footer-content .col-company ul.company li.site ul,
section.footer .footer-content .footer-col-info-mb ul.company li.site ul {
  width: 50%;
}

section.footer .footer-content .col-company ul.company li.site ul li a,
section.footer .footer-content .footer-col-info-mb ul.company li.site ul li a {
  font-size: 14px;
  display: block;
}

section.footer .footer-content .col-company ul.company li.site ul li:first-child,
section.footer .footer-content .footer-col-info-mb ul.company li.site ul li:first-child {
  padding-left: 0;
}

section.footer .footer-content .col-company ul.company li.site ul li:last-child,
section.footer .footer-content .footer-col-info-mb ul.company li.site ul li:last-child {
  padding-right: 0;
}

section.footer .footer-content .col-company ul.company li.copyright,
section.footer .footer-content .footer-col-info-mb ul.company li.copyright {
  margin-top: 10px;
  font-size: 13px;
  text-transform: uppercase;
}

section.footer .footer-content .col-company ul.social,
section.footer .footer-content .footer-col-info-mb ul.social {
  display: flex;
  margin-top: 2.5rem !important;
  padding-bottom: 2.5rem;
  border-bottom: 1px solid #fff;
  width: -moz-max-content;
  width: max-content;
}

section.footer .footer-content .col-company ul.social li.social-item,
section.footer .footer-content .footer-col-info-mb ul.social li.social-item {
  margin-right: 2rem;
}

section.footer .footer-content .col-company ul.social li.social-item:last-child,
section.footer .footer-content .footer-col-info-mb ul.social li.social-item:last-child {
  margin-right: 0;
}

section.footer .footer-content .col-company ul.social li.social-item a,
section.footer .footer-content .footer-col-info-mb ul.social li.social-item a {
  display: block;
}

section.footer .footer-content .col-company ul.social li.social-item a svg,
section.footer .footer-content .col-company ul.social li.social-item a i,
section.footer .footer-content .footer-col-info-mb ul.social li.social-item a svg,
section.footer .footer-content .footer-col-info-mb ul.social li.social-item a i {
  color: #fff;
  font-size: 2.5rem;
}

section.footer .footer-content .col-company ul.list-link-download li.menu-title,
section.footer .footer-content .footer-col-info-mb ul.list-link-download li.menu-title {
  padding: 2.5rem 0;
  font-size: 16px;
  color: #fff;
  padding: 5rem 0 15px;
}

section.footer .footer-content .col-company ul.list-link-download .app-download ul li.qrcode,
section.footer .footer-content .footer-col-info-mb ul.list-link-download .app-download ul li.qrcode {
  margin-right: 2rem;
}

section.footer .footer-content .col-company ul.list-link-download .app-download ul li.qrcode a,
section.footer .footer-content .footer-col-info-mb ul.list-link-download .app-download ul li.qrcode a {
  display: block;
}

section.footer .footer-content .col-company ul.list-link-download .app-download ul li.download ul,
section.footer .footer-content .footer-col-info-mb ul.list-link-download .app-download ul li.download ul {
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

section.footer .footer-content .col-company ul.list-link-download .app-download ul li.download ul li,
section.footer .footer-content .footer-col-info-mb ul.list-link-download .app-download ul li.download ul li {
  flex: 1;
  display: flex;
}

section.footer .footer-content .col-company ul.list-link-download .app-download ul li.download ul li a,
section.footer .footer-content .footer-col-info-mb ul.list-link-download .app-download ul li.download ul li a {
  display: block;
  border-radius: 5px;
  border: solid 1px #6d6d6d;
}

section.footer .footer-content .col-company ul.list-link-download .app-download ul li.download ul li:first-child a,
section.footer .footer-content .footer-col-info-mb ul.list-link-download .app-download ul li.download ul li:first-child a {
  align-self: flex-start;
}

section.footer .footer-content .col-company ul.list-link-download .app-download ul li.download ul li:last-child a,
section.footer .footer-content .footer-col-info-mb ul.list-link-download .app-download ul li.download ul li:last-child a {
  align-self: flex-end;
}

section.footer .footer-content .col-company ul.sitemap,
section.footer .footer-content .footer-col-info-mb ul.sitemap {
  margin: 2.5rem 0;
  color: #fff;
  display: flex;
  align-items: center;
}

section.footer .footer-content .col-company ul.sitemap .sitemap-item,
section.footer .footer-content .footer-col-info-mb ul.sitemap .sitemap-item {
  padding: 0 1.5rem;
  border-right: 1px solid #fff;
}

section.footer .footer-content .col-company ul.sitemap .sitemap-item a,
section.footer .footer-content .footer-col-info-mb ul.sitemap .sitemap-item a {
  color: #9EA1A2;
}

section.footer .footer-content .col-company ul.sitemap .sitemap-item:hover a,
section.footer .footer-content .footer-col-info-mb ul.sitemap .sitemap-item:hover a {
  color: #fff;
}

section.footer .footer-content .col-company ul.sitemap .sitemap-item:first-child,
section.footer .footer-content .footer-col-info-mb ul.sitemap .sitemap-item:first-child {
  padding-left: 0;
}

section.footer .footer-content .col-company ul.sitemap .sitemap-item:last-child,
section.footer .footer-content .footer-col-info-mb ul.sitemap .sitemap-item:last-child {
  padding-right: 0;
  border-right: 0;
}

section.footer .footer-content .col-company .copyright,
section.footer .footer-content .footer-col-info-mb .copyright {
  color: #9EA1A2;
  font-size: 12px;
  text-transform: uppercase;
}

section.footer .footer-content ul.footer-menu li.menu-title {
  font-family: "VN-KiaSignature-Bold", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  padding: 3.5rem 0 15px;
  color: #fff;
}

section.footer .footer-content ul.footer-menu li.footer-menu-item,
section.footer .footer-content ul.footer-menu li.sitemap-item,
section.footer .footer-content ul.footer-menu li.menu-item {
  margin-bottom: 15px;
  line-height: 1.5;
  font-size: 14px;
}

section.footer .footer-content ul.footer-menu li.footer-menu-item i,
section.footer .footer-content ul.footer-menu li.sitemap-item i,
section.footer .footer-content ul.footer-menu li.menu-item i {
  margin-right: 0.5rem;
}

section.footer .footer-content ul.footer-menu li.footer-menu-item:last-child,
section.footer .footer-content ul.footer-menu li.sitemap-item:last-child,
section.footer .footer-content ul.footer-menu li.menu-item:last-child {
  margin-bottom: 0;
}

section.footer .footer-content ul.footer-menu li.footer-menu-item a,
section.footer .footer-content ul.footer-menu li.sitemap-item a,
section.footer .footer-content ul.footer-menu li.menu-item a {
  font-size: 14px;
  color: #919191;
}

section.footer .footer-content ul.footer-menu li.footer-menu-item i.fa.fa-phone,
section.footer .footer-content ul.footer-menu li.sitemap-item i.fa.fa-phone,
section.footer .footer-content ul.footer-menu li.menu-item i.fa.fa-phone {
  transform: rotateY(180deg);
}

section.footer .footer-content ul.footer-menu.bottom {
  color: #919191;
}

section.footer .footer-content ul.footer-menu.bottom .footer-menu-item {
  margin-bottom: 15px;
}

section.footer .footer-content ul.footer-menu.bottom .footer-menu-item:last-child {
  margin-bottom: 0;
}

section.footer .footer-content ul.footer-menu.bottom li {
  cursor: pointer;
  position: relative;
}

section.footer .footer-content ul.footer-menu.bottom li:hover {
  color: #fff !important;
}

section.footer .footer-content ul.footer-menu.top {
  padding-bottom: 2.5rem;
  border-bottom: 1px solid #fff;
}

section.footer .footer-content .col-service,
section.footer .footer-content .col-product,
section.footer .footer-content .col-about {
  flex: unset;
}

section.footer .footer-content .col-product {
  flex: unset;
}

section.footer .footer-content .col-service.footer-desktop .footer-menu .menu-item {
  margin-bottom: 15px;
}

section.footer .footer-content .col-service.footer-desktop .footer-menu .menu-item:last-child {
  margin-bottom: 0;
}

section.footer .footer-content .col-service.footer-desktop .footer-menu .menu-item a {
  font-size: 14px;
}

section.footer .footer-menu-item[aria-expanded="true"] {
  color: #fff;
}

section.footer .footer-menu-item[aria-expanded="true"] i.fa-chevron-right {
  transform: rotate(90deg);
  transition: all linear .3s;
}

section.footer .footer-menu[aria-expanded="true"] .iconnn-mb {
  transform: rotate(180deg);
  transition: all linear .3s;
}

.sodotrang {
  padding-left: 15px;
}

.iconnn {
  position: absolute;
  margin-left: 0.6rem;
  font-size: 11px;
  bottom: 4.1px;
  transition: transform .25s;
}

#accordion222 .footer-menu-item,
#accordion222mb .footer-menu-item {
  width: -moz-max-content;
  width: max-content;
}

#accordion222 .footer-menu-item .footer-menu,
#accordion222mb .footer-menu-item .footer-menu {
  margin-top: 0.5rem;
}

.iconnn-mb {
  position: absolute;
  margin-left: 0.6rem;
  font-size: 12px;
  right: 0rem;
  transition: transform .25s;
}

.duongngang {
  border-top: 1px solid rgba(239, 239, 245, 0.1);
  width: 100%;
}

.text-16 {
  font-size: 16px !important;
  color: #919191 !important;
}

.text-footer {
  color: #919191 !important;
}

.term-policy {
  line-height: 46px;
}

