p {
    margin-bottom: 0;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.button-click-wrapper {
    display: flex;
    justify-content: flex-end;
}

.text-detail{
  display: block;
  margin: 7% 0;
}

.content .button-click {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: right;
}

.col-3 img {
    object-fit: cover;
    position: relative;
}

.col-3 .w-100::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(5, 20, 31, 0) 0%, #05141f 100%);
    z-index: 10;
    opacity: 1;
    visibility: unset;
    transition: all linear .3s;
}

.act-text {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 12px;
    font-weight: 500;
}

.act-text-1 {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 12px;
}

.act-icon {
    color: rgb(160 162 160);
}

.custom-hover {
    position: relative;
    display: block;
    overflow: hidden;
}

.custom-hover:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(5, 20, 31, 0) 0%, #05141f 100%);
    z-index: 1;
    opacity: 1;
    visibility: unset;
    transition: all linear .3s;
}

.custom-hover:hover:before {
  opacity: 0;
  visibility: hidden;
  transition: all linear .3s;
  right: 100%;
}

.left.tin-tuc-xem-nhieu:hover img {
  transform: scale(1.08);
}
.left.tin-tuc-xem-nhieu img {
transition: transform .3s,visibility .3s ease-in;
}

.title{
    font-size: 16px;
}
