.mCSB_draggerRail {
  display: none !important;
}

._form_contact {
  padding-top: 60px;
  text-align: center;
}

@media only screen and (max-width: 576px) {
  ._form_contact {
    padding-top: 25px;
  }
}

@media only screen and (max-width: 480px) {
  ._form_contact {
    padding-top: 0px;
  }
}

.___form h3.form-title {
  font-family: "VN-KiaSignature-Bold", sans-serif;
  color: #1f1f1f;
  padding-bottom: 3rem;
}

.___form .group-input-custom {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 640px) {
  .___form .group-input-custom {
    flex-direction: column;
  }
}

.___form .group-input-custom .label {
  flex: 0 15%;
  align-self: center;
  text-align: left;
  font-size: 14px;
  font-weight: bold;
}

@media only screen and (max-width: 767px) {
  .___form .group-input-custom .label {
    font-size: 14px;
  }
}

@media only screen and (max-width: 640px) {
  .___form .group-input-custom .label {
    flex: 1;
    align-self: flex-start;
    margin-bottom: 10px;
    width: 100%;
  }
}

.___form .group-input-custom .label span {
  text-transform: capitalize;
  display: block;
}

@media only screen and (max-width: 576px) {
  .___form .group-input-custom .label span {
    display: inline-block;
  }
}

.___form .group-input-custom .input-custom {
  flex: 0 85%;
  align-self: center;
  text-align: left;
  display: flex;
  position: relative;
}

@media only screen and (max-width: 640px) {
  .___form .group-input-custom .input-custom {
    flex: 1;
    width: 100%;
    align-self: flex-start;
  }
}

.___form .group-input-custom .input-custom label {
  text-transform: uppercase;
  font-size: 14px;
}

@media only screen and (max-width: 576px) {
  .___form .group-input-custom .input-custom label {
    font-size: 14px;
    padding-left: 3em;
  }
}

.___form .group-input-custom .fix-select-css select {
  font-family: "VN-KiaSignature-Bold", sans-serif;
  width: 100%;
  height: 50px;
  border: solid 1px #bababa;
  font-size: 14px;
  padding: 0 20px;
  flex: 1;
  background: rgba(5, 20, 31, 0.03);
}

.___form .form-action {
  margin-top: 50px;
  padding-bottom: 5rem;
}

@media only screen and (max-width: 320px) {
  .___form .form-action {
    padding-bottom: 1rem;
  }
}

@media only screen and (max-width: 480px) {
  .___form .form-action {
    padding-bottom: 2rem;
  }
}

@media only screen and (max-width: 576px) {
  .___form .form-action {
    margin-top: 0;
  }
}

@media only screen and (max-width: 991px) {
  .___form .form-action {
    margin-top: 20px;
    padding-bottom: 0rem;
  }
}

.nice-select {
  float: none;
  border: solid 1px #bababa;
  border-radius: unset;
  font-family: "VN-KiaSignature-Bold", sans-serif;
  width: 100%;
  height: 50px;
  border: solid 1px #bababa;
  font-size: 14px;
  padding: 0 20px;
  flex: 1;
  background: rgba(5, 20, 31, 0.03);
}

.nice-select:focus {
  border: solid 1px #bababa;
}

.nice-select:after {
  right: 7px;
  width: 7px;
  height: 7px;
  border-color: #777;
  font-family: "UTMBanqueBold", sans-serif;
}

@media only screen and (max-width: 375px) {
  .nice-select:after {
    right: 7px;
  }
}

@media only screen and (max-width: 767px) {
  .nice-select {
    font-size: 14px;
  }
}

.nice-select span.current {
  overflow-x: hidden;
  text-overflow: ellipsis;
  width: 100%;
  justify-content: flex-start;
  display: block;
  align-items: center;
  height: 50px;
  display: flex;
  font-size: 14px;
  font-family: "VN-KiaSignature-Bold", sans-serif;
}

.nice-select ul.list li.option {
  overflow-x: hidden;
  text-overflow: ellipsis;
  width: 100%;
  display: block;
  font-size: 14px;
  font-family: "VN-KiaSignature-Bold", sans-serif;
}

@media only screen and (max-width: 576px) {
  .nice-select ul.list li.option {
    font-size: 14px;
  }
}

input {
  width: 100%;
  height: 50px;
  border: solid 1px #bababa;
  font-size: 14px;
  text-transform: none;
  background: rgba(5, 20, 31, 0.03);
  padding: 0 20px;
  flex: 1;
}

input:focus {
  border: solid 1px #bababa;
}

@media only screen and (max-width: 767px) {
  input {
    font-size: 14px;
  }
}

.modal_register_drive input {
  height: unset;
}

textarea {
  border: solid 1px #bababa;
  font-size: 14px;
  text-transform: uppercase;
  background: rgba(5, 20, 31, 0.03);
  padding: 20px;
  width: 100%;
  height: 210px;
}

textarea:focus {
  border: solid 1px #bababa;
}

@media only screen and (max-width: 767px) {
  textarea {
    font-size: 14px;
  }
}

.ct_form {
  max-width: 74%;
  margin: 0 auto;
}

@media only screen and (max-width: 767px) {
  .ct_form {
    max-width: 100%;
  }
}

.ct_form .group-input-custom .label .content-contact {
  margin-top: -9.5rem;
}

.ct_form .group-input-custom .input-custom {
  padding-bottom: 15px;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.ct_form .group-input-custom .input-custom label {
  text-transform: inherit;
  font-size: 14px;
}

.ct_form .group-input-custom .input-custom .input {
  flex: 0 48%;
}

.ct_form .group-input-custom .input-custom .list {
  max-height: 350px;
  overflow-y: auto;
}

.ct_form .group-input-custom .input-custom .full-width {
  max-width: 100%;
  flex: 0 0 100%;
}

.ct_form .group-input-custom .input-custom .textarea {
  max-width: 100%;
  flex: 0 0 100%;
}

