.menu-mobile.menu .navbar .container-fluid a img{
  margin-left: 75%;
}

.mCSB_draggerRail {
  display: none !important;
}

.menu-wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.menu-wrapper .left-menu,
.menu-wrapper .center-menu,
.menu-wrapper .right-menu {
  align-self: center;
  display: flex;
}

.menu-wrapper .left-menu,
.menu-wrapper .right-menu {
  flex: 0 46%;
  display: flex;
  align-items: center;
}

.menu-wrapper .center-menu {
  flex: 0 8%;
  display: flex;
  align-items: center;
}

.menu-wrapper ul.menu {
  width: 100%;
  display: flex;
}

.menu-wrapper ul.menu li.menu-item {
  margin-right: 25px;
}

@media only screen and (max-width: 1100px) {
  .menu-wrapper ul.menu li.menu-item {
    margin-right: 15px;
  }
}

.menu-wrapper ul.menu li.menu-item:last-child {
  margin-right: 0;
}

.menu-wrapper ul.menu li.menu-item:hover a {
  transition: all linear 0.3s;
}

.menu-wrapper ul.menu li.menu-item a {
  text-decoration: none;
  color: #05141F;
  font-family: "VN-KiaSignature-Bold", sans-serif;
  font-size: 22px;
  text-align: center;
  display: block;
  margin: 0 auto;
  font-weight: bold;
  transition: all linear 0.3s;
}

@media only screen and (max-width: 1280px) {
  .menu-wrapper ul.menu li.menu-item a {
    font-size: 14px;
  }
}

.menu-wrapper ul.menu li.active a {
  color: #05141F;
}

.menu-wrapper .left-menu ul.menu {
  justify-content: space-around;
}

.menu-wrapper .right-menu ul.menu {
  justify-content: space-around;
}

.menu-wrapper .center-menu ul.logo li.logo {
  width: 100%;
  justify-content: center;
  margin: 0 auto;
}

.menu-wrapper .center-menu ul.logo li.logo a {
  position: relative;
}

.menu-wrapper .center-menu ul.logo li.logo a img {
  display: block;
  margin: 0 auto;
}

.menu-wrapper .center-menu ul.logo li.logo a img.logo-scroll {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: all linear 0.3s;
}

section.menu {
  background-color: #ffffff;
  position: sticky;
  padding: 25px 0;
  top: 0;
  left: 0;
  z-index: 11;
  width: 100%;
  border-bottom: solid 1px #e5e5e5;
  transition: all linear 0.3s;
}

@media only screen and (max-width: 1680px) {
  section.menu {
    padding: 10px;
  }
}

@media only screen and (max-width: 991px) {
  section.menu {
    padding: 15px 10px;
  }
}

section.menu .center-menu ul.logo li.logo a img {
  max-width: 100%;
  transition: all linear 0.2s;
}

section.menu.scroll .center-menu ul.logo li.logo a img {
  transition: all linear 0.2s;
}

.menu-mobile.menu {
  border-bottom: 3px solid #05141F;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 13;
}

.menu-mobile.menu .menu-wrapper .mainmenu {
  width: 100%;
}

.menu-mobile.menu .menu-wrapper .mainmenu ul.menu {
  align-items: center;
}

.menu-mobile.menu .menu-wrapper .mainmenu ul.menu li.logo {
  flex: 1;
  display: flex;
  position: relative;
  justify-content: center;
}

.menu-mobile.menu .menu-wrapper .mainmenu ul.menu li.logo a {
  margin: unset;
  text-align: unset;
  padding-left: 5px;
}

.menu-mobile.menu .menu-wrapper .mainmenu ul.menu li.logo a img {
  height: 20px;
}

.menu-mobile.menu .menu-wrapper .mainmenu ul.menu li.no-touch-search.button-search {
  pointer-events: none;
}

.menu-mobile.menu .menu-wrapper .mainmenu ul.menu li.custom-navbar,
.menu-mobile.menu .menu-wrapper .mainmenu ul.menu .button-search {
  content: '';
  position: absolute;
  top: 0;
  width: 50px;
  height: 100%;
  display: flex;
  align-items: center;
  pointer-events: unset;
  z-index: 1;
}

.menu-mobile.menu .menu-wrapper .mainmenu ul.menu li.custom-navbar a,
.menu-mobile.menu .menu-wrapper .mainmenu ul.menu .button-search a {
  display: flex;
  width: 100%;
  height: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #000000;
}

.menu-mobile.menu .menu-wrapper .mainmenu ul.menu li.custom-navbar a i,
.menu-mobile.menu .menu-wrapper .mainmenu ul.menu li.custom-navbar a svg,
.menu-mobile.menu .menu-wrapper .mainmenu ul.menu .button-search a i,
.menu-mobile.menu .menu-wrapper .mainmenu ul.menu .button-search a svg {
  font-size: 16px;
}

.menu-mobile.menu .menu-wrapper .mainmenu ul.menu li.custom-navbar.show a span,
.menu-mobile.menu .menu-wrapper .mainmenu ul.menu li.custom-navbar.turn-off-form a span {
  display: none;
  transition: top 0.3s, bottom 0.3s, transform 0.3s 0.3s;
}

.menu-mobile.menu .menu-wrapper .mainmenu ul.menu li.custom-navbar.show a:before,
.menu-mobile.menu .menu-wrapper .mainmenu ul.menu li.custom-navbar.turn-off-form a:before {
  top: 50%;
  transform: translate(-50%, 0) rotate(45deg);
  transition: top 0.3s, bottom 0.3s, transform 0.3s 0.3s;
}

.menu-mobile.menu .menu-wrapper .mainmenu ul.menu li.custom-navbar.show a:after,
.menu-mobile.menu .menu-wrapper .mainmenu ul.menu li.custom-navbar.turn-off-form a:after {
  top: 50%;
  transform: translate(-50%, 0) rotate(-45deg);
  transition: top 0.3s, bottom 0.3s, transform 0.3s 0.3s;
}

.menu-mobile.menu .menu-wrapper .mainmenu ul.menu li.custom-navbar {
  background: #fff;
}

.menu-mobile.menu .menu-wrapper .mainmenu ul.menu li.custom-navbar a {
  transition: transform 0.3s, top 0.3s 0.3s, bottom 0.3s 0.3s;
}

.menu-mobile.menu .menu-wrapper .mainmenu ul.menu li.custom-navbar a:after {
  content: "";
  position: absolute;
  height: 2px;
  width: 30px;
  top: 36%;
  left: 50%;
  transform: translate(-50%, 0);
  background: #000;
  transition: transform 0.3s, top 0.3s 0.3s, bottom 0.3s 0.3s;
}

.menu-mobile.menu .menu-wrapper .mainmenu ul.menu li.custom-navbar a:before {
  content: "";
  position: absolute;
  height: 2px;
  width: 30px;
  top: 65%;
  left: 50%;
  transform: translate(-50%, 0);
  background: #000;
  transition: transform 0.3s, top 0.3s 0.3s, bottom 0.3s 0.3s;
}

.menu-mobile.menu .menu-wrapper .mainmenu ul.menu li.custom-navbar a span {
  height: 2px;
  position: absolute;
  top: 50%;
  width: 30px;
  transform: translate(-50%, 0);
  background: #000;
  left: 50%;
  transition: transform 0.3s, top 0.3s 0.3s, bottom 0.3s 0.3s;
}

.menu-mobile.menu .menu-wrapper .mainmenu ul.menu li.button-search {
  right: 0;
}

.search-wrapper.show-form,
.search-wrapper.show-form-desktop {
  position: fixed;
  padding-bottom: 3px;
  top: 52px;
  height: unset;
  opacity: 1;
  visibility: visible;
  transition: all linear 0.3s;
  z-index: 10;
}

.search-wrapper.show-form form,
.search-wrapper.show-form-desktop form {
  height: 100%;
  opacity: 1;
  background-color: #05141F;
  transition: all linear 0.3s;
}

.search-wrapper.show-form form .content,
.search-wrapper.show-form-desktop form .content {
  height: 100%;
  opacity: 1;
  transition: all linear 0.3s;
}

.search-wrapper.show-form form .content input.input,
.search-wrapper.show-form-desktop form .content input.input {
  height: 35px;
  opacity: 1;
}

.search-wrapper {
  position: absolute;
  z-index: 2;
  width: 100%;
  transition: all linear 0.3s;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.search-wrapper form {
  height: 0;
  opacity: 0;
  transition: all linear 0.3s;
}

.search-wrapper form .content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2%;
  position: relative;
  height: 0;
  opacity: 0;
  transition: all linear 0.3s;
}

.search-wrapper form .content input.input {
  border-radius: 18px;
  border: 2px solid #acacac;
  padding: 0 40px 0 20px;
  font-family: "UTMHanzel", sans-serif;
  text-transform: unset;
  font-size: 12px;
  width: 100%;
  height: 0;
  opacity: 0;
  transition: all linear 0.3s;
}

.search-wrapper form .content input:focus {
  border: 2px solid #e59700;
  transition: all linear 0.3s;
}

.search-wrapper form .content span {
  display: flex;
  right: 5%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.search-wrapper form .content span i,
.search-wrapper form .content span svg {
  color: #000;
  font-size: 16px;
  margin-right: 18px;
}

.search-wrapper form .content.primary input.input {
  background-color: #fff;
}

.search-wrapper form .content.primary span i,
.search-wrapper form .content.primary span svg {
  color: #05141F;
}

.search-wrapper.primary {
  background: #05141F;
}

.menu-dropdown {
  position: fixed;
  top: 0;
  height: 0;
  width: 100%;
  z-index: 2;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  align-items: center;
  background-color: #fff;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: all linear 0.3s;
}

.menu-dropdown .content-menu {
  height: 100%;
  width: 100%;
}

.menu-dropdown .content-menu .menu {
  height: 100%;
  width: 100%;
  padding-top: 65px !important;
}

.menu-dropdown .content-menu .menu li {
  text-align: left;
  padding: 10px 15px;
  border-bottom: 1.5px solid lightgray;
}

.menu-dropdown .content-menu .menu li a {
  font-size: 14px;
  display: block;
  color: #05141F;
  font-family: "VN-KiaSignature-Bold", sans-serif;
}

.menu-dropdown .content-menu .menu li a:hover {
  color: #acacac;
}

.menu-dropdown.primary {
  background-color: #ffffff;
}

.menu-dropdown.show {
  opacity: 1;
  visibility: visible;
  height: 100%;
  z-index: 12;
  transition: all linear 0.3s;
}

li.search-popup-icon {
  position: relative;
}

li.search-popup-icon a.show-box-search .search-form-desktop {
  position: absolute;
  top: 25px;
  right: 0;
  border-radius: 10px;
  z-index: 2;
  background-color: #ffffff;
  width: 400px;
  padding: 15px;
  display: block;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  opacity: 0;
  visibility: hidden;
  border: solid 1px rgba(255, 255, 255, 0.3);
  transition: all linear 0.3s;
}

li.search-popup-icon a.show-box-search .search-form-desktop form .form-search-input {
  font-family: "VN-KiaSignature-Bold", sans-serif;
  font-size: 14px;
}

li.search-popup-icon a.show-box-search .search-form-desktop form .form-search-input label {
  color: #05141F;
  margin-bottom: 5px;
  font-family: "VN-KiaSignature-Bold", sans-serif;
  display: block;
  text-align: left;
}

li.search-popup-icon a.show-box-search .search-form-desktop form .form-search-input .search-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li.search-popup-icon a.show-box-search .search-form-desktop form .form-search-input .search-input input {
  flex: 0 70%;
  max-width: 70%;
  border-radius: 5px;
  height: 35px;
  padding: 0 15px;
  color: #000000;
  font-family: "VN-KiaSignature-Bold", sans-serif;
}

li.search-popup-icon a.show-box-search .search-form-desktop form .form-search-input .search-input .search-submit-button {
  max-width: 25%;
  flex: 0 25%;
  border-radius: 5px;
  background-color: #05141F;
  color: #ffffff;
  height: 35px;
  width: 100%;
  display: block;
  text-transform: unset;
}

.camon {
  z-index: 99999999;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(6, 20, 31, 0.8);
  color: #fff;
  max-width: 500px;
  padding: 30px;
  height: 200px;
  animation: slide-upp 0.9s ease-out;
  animation: slide-upp 0.9s ease-out;
  display: none;
}

@media (max-width: 1024px) {
  .camon {
    width: 70%;
    height: 400px;
  }
}

@media (max-width: 480px) {
  .camon {
    width: 90%;
    font-size: 15px;
    height: 300px;
  }
}

.camon .popup-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1111;
  position: relative;
}

@media (max-width: 480px) {
  .camon .popup-content {
    font-size: 15px;
  }
}

.camon .close-popup,
.camon .close-popup-please-select-product {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 20px;
  z-index: 1;
}

.active-popup:after {
  content: '';
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  z-index: 0;
  z-index: 111110;
  background-color: rgba(0, 0, 0, 0.5);
}

.active-form {
  opacity: 1 !important;
  visibility: visible !important;
  top: 35px !important;
  transition: all linear 0.3s;
}

.hover-category {
  position: relative;
}

.hover-category:after {
  content: "";
  position: absolute;
  background-color: #05141F;
  width: 0;
  height: 3px;
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%);
  transition: all linear 0.3s;
}

.hover-category:hover:after {
  width: 100%;
}

.hover-category.active:after {
  width: 100%;
}

.black-button {
  background-color: #05141F;
  background-image: linear-gradient(-60deg, #fff 50%, transparent 0);
  background-position: 0 50%;
  background-size: 400% 400%;
  border: 1.5px solid #0a0a0a;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  text-align: center;
  text-decoration: none;
  transition: color .3s ease-in-out, background-position .3s ease-in-out;
}

.black-button:hover {
  background-position: 100% 50%;
  color: #05141F;
  background-color: #fff !important;
}

.mt-8rem {
  margin-top: 8rem;
}

@media only screen and (max-width: 1366px) {
  .mt-8rem {
    margin-top: 6rem;
  }
}

@media only screen and (max-width: 991px) {
  .mt-8rem {
    margin-top: 4rem;
  }
}

@media only screen and (max-width: 480px) {
  .mt-8rem {
    margin-top: 3rem;
  }
}

