.nav-link {
    color: #00095b;
    font-size: 20px;
    font-weight: bold;
    padding: 0;
}

.nav-item {
    position: relative;
}

.product-menu {
    width: 67%;
    border: .5px solid #05141e61;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, .2) 0px 7px 29px 0px;
}

.product-menu .dropdown-item.get-product {
    background-color: white !important;
}

.dropdown-menu {
    top: 100% !important;
    z-index: 1000;
    left: 0 !important;
    transform: none !important;
}

.product-wrapper {
    background-position: right;
    background-repeat: no-repeat;
    background-size: 40%;
    color: #00095b;
}

.nav-item span {
    display: block;
    padding: 1rem;
}

@media only screen and (max-width: 1560px) {
    .nav-item span {
        padding: 1.3rem;
    }
}

@media only screen and (max-width: 1200px) {
    .nav-item span {
        padding: .5rem;
    }
}

@media only screen and (max-width: 991px) {
    .product-menu {
        width: 70%;
    }
    .nav-item span {
        padding: 0rem;
    }
}
