.mCSB_draggerRail {
  display: none !important;
}

div.pagination-main-new {
  padding-bottom: 5%;
}

div.pagination-main-new ul.pagination {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: center;
}

@media screen and (max-width: 991px) {
  div.pagination-main-new ul.pagination {
    max-width: 100%;
  }
}

div.pagination-main-new ul.pagination .previ {
  color: #05141f;
  border: none;
  display: flex;
  width: 35px;
  height: 35px;
  align-items: center;
  font-size: 15px;
  justify-content: center;
  line-height: 1;
}

div.pagination-main-new ul.pagination .previ i,
div.pagination-main-new ul.pagination .previ svg {
  font-size: 16px;
}

div.pagination-main-new ul.pagination .previ:hover {
  border-radius: 50%;
  background-color: #05141F;
  color: #fff;
}

div.pagination-main-new ul.pagination li.prev {
  margin-right: 25px;
}

div.pagination-main-new ul.pagination li.page-item {
  color: #7f7f7f;
  border: none;
  margin-right: 15px;
}

div.pagination-main-new ul.pagination li.page-item:last-child {
  margin-right: 0;
}

@media only screen and (max-width: 767px) {
  div.pagination-main-new ul.pagination li.page-item {
    margin: 0 10px;
  }
}

@media only screen and (max-width: 480px) {
  div.pagination-main-new ul.pagination li.page-item {
    margin: 0 5px;
  }
}

div.pagination-main-new ul.pagination li.page-item a {
  color: #7f7f7f;
  border: none;
  display: flex;
  width: 35px;
  height: 35px;
  align-items: center;
  font-size: 15px;
  justify-content: center;
  line-height: 1;
}

div.pagination-main-new ul.pagination li.page-item a i,
div.pagination-main-new ul.pagination li.page-item a svg {
  font-size: 16px;
}

div.pagination-main-new ul.pagination li.page-item a:hover {
  border-radius: 50%;
  background-color: #05141F;
  font-family: "VN-KiaSignature-Bold", sans-serif;
  color: #ffffff;
}

div.pagination-main-new ul.pagination li.page-item a:hover i {
  color: #fff;
}

@media only screen and (max-width: 767px) {
  div.pagination-main-new ul.pagination li.page-item a {
    font-size: 12px;
    width: 25px;
    height: 25px;
  }
}

div.pagination-main-new ul.pagination li.page-item span {
  border: none;
  display: flex;
  font-size: 15px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: all linear 0.3s;
  line-height: 1;
}

div.pagination-main-new ul.pagination li.page-item span i,
div.pagination-main-new ul.pagination li.page-item span svg {
  font-size: 16px;
  color: #05141F;
}

@media only screen and (max-width: 767px) {
  div.pagination-main-new ul.pagination li.page-item span {
    font-size: 12px;
    width: 25px;
    height: 25px;
  }
}

div.pagination-main-new ul.pagination li.page-item.active span {
  border-radius: 50%;
  background-color: #05141f;
  font-family: "VN-KiaSignature-Bold", sans-serif;
  color: #ffffff;
}

