.list-content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.content-left {
    flex: 0 0 40%;
}

.content-left .name {
    margin-bottom: 2rem;
    text-transform: uppercase;
    color: #00095b;
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
}

.content-left .slogan {
    color: #05141f;
    margin-bottom: 2rem;
    display: block;
    opacity: 40%;
}

.content-left .price {
    margin-bottom: 2.5rem;
    display: block;
    font-size: 30px;
    font-weight: bold;
    color: #e63312;
}

.black-button {
    background-color: #00095b;
    background-image: linear-gradient(-60deg, #fff 50%, transparent 0);
    background-position: 0 50%;
    background-size: 400% 400%;
    border: 1.5px solid #0a0a0a;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    padding: .75rem 1.5rem;
    text-align: center;
    text-decoration: none;
    transition: color .3s ease-in-out, background-position .3s ease-in-out;
}

.black-button:hover {
    background-position: 100% 50%;
    color: #05141f;
    background-color: #fff !important;
}

.image-car {
    max-width: 80%;
    margin: 0 auto;
    transition: transform 2s linear;
}

.image-car:hover img {
    transform: scale(1.04);
}

.content-right .content-top {
    float: right;
    color: #fff;
    margin-bottom: 5%;
}

.content-right .content-top .attr-one {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.content-right .content-top .attr-one span {
    margin-left: 1rem;
}

.product-menu .nav-tabs .nav-item:hover {
    background-color: #00095b;
    z-index: 1000;
    color: #fff;
}

.image-top {
    display: none;
}

@media only screen and (max-width: 768px) {
    .product-menu {
        margin: 0 auto;
        width: 90%;
    }

    .image-top {
        display: block;
    }

    .content-right {
        display: flex;
        flex-direction: column-reverse;
        background-repeat: no-repeat;
        background-size: 100% 50%;
        background-position: bottom;
    }

    .content-left {
        flex: 1;
        max-width: 100%;
        text-align: center;
        opacity: 0;
        visibility: visible;
        margin: 0 -30%;
        padding: 0;
        display: block;
        opacity: 1;
    }

    .list-content {
        flex-direction: column-reverse;
    }

    .background {
        display: block !important;
        width: 100%;
        position: absolute;
        height: calc(95px + 3rem);
        top: calc(95px - 3rem);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .home-product-wrapper {
        background: none !important;
    }

    .product-menu .nav-tabs .nav-item {
        position: unset;
    }

    .product-menu .nav-tabs {
        position: relative;
    }
}

@media only screen and (max-width: 1600px) {
    .product-menu .nav-tabs .nav-item {
        padding: 0.2rem;
    }
}

@media only screen and (max-width: 991px) {
    .product-menu .nav-tabs .nav-item {
        margin-right: 10px;
    }
}

@media only screen and (max-width: 480px) {
    .product-menu .nav-tabs .nav-item {
        flex: 0 0 46%;
        width: 50%;
        text-align: center;
    }

    .nav-item span {
        padding: 0;
    }

    .content-left {}
}
