@charset "UTF-8";
.mCSB_draggerRail {
  display: none !important;
}

.___page_product section.menu.menu-top {
  position: unset;
  top: unset;
  left: unset;
}

.___page_product section.product-wrapper {
  padding-top: 0;
}

.___page_product section.product-wrapper div.product-menu-custom {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  background-color: #ffffff;
  border-bottom: solid 1px #e5e5e5;
}

@media only screen and (max-width: 991px) {
  .___page_product section.product-wrapper div.product-menu-custom {
    top: 46px;
  }
}

.product-content-new .product-content .dong {
  width: 100%;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(112.1deg, rgb(63, 76, 119) 11.4%, rgb(32, 38, 57) 70.2%);
}

.product-content-new .product-content .dong span {
  padding: 1rem;
  font-size: 35px;
  font-weight: bold;
  color:#fff;
}

.product-content-new .product-content .page-product-car form {
  padding-top: 2rem;
  display: flex;
  padding-bottom: 2rem;
}

@media only screen and (max-width: 991px) {
  .product-content-new .product-content .page-product-car form {
    display: block;
    padding-top: 3rem;
    padding-bottom: 1rem;
  }
}

@media only screen and (max-width: 768px) {
  .product-content-new .product-content .page-product-car form {
    display: block;
  }
}

.product-content-new .product-content .list-category-car {
  flex: 0 0 30%;
  max-width: 30%;
}

@media only screen and (max-width: 991px) {
  .product-content-new .product-content .list-category-car {
    padding: 2rem 0;
    flex: 1;
    max-width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .product-content-new .product-content .list-category-car {
    padding-bottom: 3rem;
  }
}

@media only screen and (max-width: 480px) {
  .product-content-new .product-content .list-category-car {
    padding-bottom: 2rem;
    max-width: 100%;
    margin-left: 0;
  }
}

.product-content-new .product-content .list-category-car .accordion {
  border-radius: 0;
  width: 100%;
  position: sticky;
  top: 77px;
}

@media only screen and (max-width: 1680px) {
  .product-content-new .product-content .list-category-car .accordion {
    top: 69px;
  }
}

.product-content-new .product-content .list-category-car .accordion .title {
  padding: 2rem;
  background: #05141f08;
}

.product-content-new .product-content .list-category-car .accordion .title span {
  padding-left: 3rem;
  color: #000000e0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.product-content-new .product-content .list-category-car .accordion .title span::before {
  position: absolute;
  content: "";
  background-color: #05141F;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  left: 0;
  top: 22%;
}

.product-content-new .product-content .list-category-car .accordion .title.active i {
  transform: rotate(180deg);
  transition: transform 0.3s ease-in-out;
}

.product-content-new .product-content .list-category-car .accordion .content {
  padding: 1.5rem 1.5rem 0.3rem 1.5rem;
}

.product-content-new .product-content .list-category-car .accordion .content .fields {
  margin-left: 3rem;
}

.product-content-new .product-content .list-category-car .accordion .content .fields .field .checkbox .form-group {
  display: block;
  margin-bottom: 15px;
  line-height: 1.6;
}

.product-content-new .product-content .list-category-car .accordion .content .fields .field .checkbox input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.product-content-new .product-content .list-category-car .accordion .content .fields .field .checkbox input:checked + label:after {
  content: "✓ ";
  position: absolute;
  top: 0.3em;
  left: 3.5px;
  font-size: 1.8rem;
  line-height: 0.8;
  color: #05141F;
  transition: all 0.2s;
  transition: all 0.2s ease;
}

.product-content-new .product-content .list-category-car .accordion .content .fields .field .checkbox label {
  font-size: 14px;
  line-height: 1.5;
  position: relative;
  cursor: pointer;
}

@media only screen and (max-width: 991px) {
  .product-content-new .product-content .list-category-car .accordion .content .fields .field .checkbox label {
    font-size: 14px;
  }
}

.product-content-new .product-content .list-category-car .accordion .content .fields .field .checkbox label::before {
  content: '';
  -webkit-appearance: none;
  background-color: transparent;
  border: 2px solid 5, 20, 31, 0.03;
  padding: 10px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px;
  left: 0;
  position: absolute;
}

.product-content-new .product-content .list-product-car {
  display: flex;
  flex-wrap: wrap;
}

@media only screen and (max-width: 991px) {
  .product-content-new .product-content .list-product-car {
    flex: 1;
    max-width: 100%;
    margin-left: 0;
  }
}

@media only screen and (max-width: 480px) {
  .product-content-new .product-content .list-product-car {
    display: block;
  }
}

.product-content-new .product-content .list-product-car .product-item {
  margin-bottom: 4%;
  background: #05141f08;
  border: 1px solid #22242626;
}

.product-content-new .product-content .list-product-car .product-item:nth-child(2n) {
  margin-left: 4%;
}

@media only screen and (max-width: 480px) {
  .product-content-new .product-content .list-product-car .product-item {
    max-width: 100%;
    margin-bottom: 2.5rem;
  }
  .product-content-new .product-content .list-product-car .product-item:nth-child(2n) {
    margin-left: 0;
  }
}

.product-content-new .product-content .list-product-car .product-item .title-car {
  justify-content: space-between;
  margin: 2rem 1rem;
  display: block;
}

@media only screen and (max-width: 1444px) {
  .product-content-new .product-content .list-product-car .product-item .title-car {
    display: block;
  }
}

@media only screen and (max-width: 1080px) {
  .product-content-new .product-content .list-product-car .product-item .title-car .title-left p {
    padding-top: 1rem;
  }
}

@media only screen and (max-width: 320px) {
  .product-content-new .product-content .list-product-car .product-item .title-car .title-left p {
    font-size: 10px;
  }
}

@media only screen and (max-width: 1080px) {
  .product-content-new .product-content .list-product-car .product-item .title-car {
    display: block;
  }
}

@media only screen and (max-width: 991px) {
  .product-content-new .product-content .list-product-car .product-item .title-car {
    margin: 2rem 0rem 0 1rem;
  }
}

@media only screen and (max-width: 480px) {
  .product-content-new .product-content .list-product-car .product-item .title-car {
    display: block;
    margin: 2rem 0rem 0 1rem;
  }
}

.product-content-new .product-content .list-product-car .product-item .title-car .title-left {
  width: 100%;
  padding-bottom: 1rem;
}

@media only screen and (max-width: 1444px) {
  .product-content-new .product-content .list-product-car .product-item .title-car .title-left {
    flex: 0 0 100%;
    max-width: 100%;
    margin-right: 0;
  }
}

@media only screen and (max-width: 1080px) {
  .product-content-new .product-content .list-product-car .product-item .title-car .title-left {
    display: block;
    padding-bottom: 1rem;
  }
}

.product-content-new .product-content .list-product-car .product-item .title-car .title-left p {
  color: #00000080;
}

@media only screen and (max-width: 480px) {
  .product-content-new .product-content .list-product-car .product-item .title-car .title-left {
    display: block;
  }
  .product-content-new .product-content .list-product-car .product-item .title-car .title-left p {
    padding-top: 0;
    margin-left: 0rem;
    font-size: 10px;
  }
}

.product-content-new .product-content .list-product-car .product-item .title-car .title-right {
  display: flex;
  max-width: 100%;
  border: 1px solid #05141F;
}

@media only screen and (max-width: 991px) {
  .product-content-new .product-content .list-product-car .product-item .title-car .title-right {
    margin-right: 1rem;
    margin-bottom: 1rem;
  }
}

.product-content-new .product-content .list-product-car .product-item .title-car .title-right .item {
  flex: 0 0 33.33%;
  max-width: 33.33%;
  position: relative;
}

.product-content-new .product-content .list-product-car .product-item .title-car .title-right.row2 .item {
  flex: 0 0 50%;
  max-width: 50%;
  position: relative;
}

.product-content-new .product-content .list-product-car .product-item .title-car .title-right .item:first-child a::before {
  display: none;
}

.product-content-new .product-content .list-product-car .product-item .title-car .title-right .item a {
  width: 100%;
  background-color: #fff;
  color: #05141F;
  padding: 0.75rem 1rem;
  display: block;
  text-align: center;
  transition: 0.3s ease-in-out;
  position: relative;
}

@media only screen and (max-width: 1130px) {
  .product-content-new .product-content .list-product-car .product-item .title-car .title-right .item a {
    padding: 0.75rem 5px;
    font-size: 11px;
  }
}

@media only screen and (max-width: 576px) {
  .product-content-new .product-content .list-product-car .product-item .title-car .title-right .item a {
    padding: 0.75rem 0px;
    font-size: 10px;
  }
}

.product-content-new .product-content .list-product-car .product-item .title-car .title-right .item a::before {
  position: absolute;
  content: "";
  background-color: #05141F;
  width: 1px;
  height: 70%;
  top: 15%;
  left: 0px;
}

.product-content-new .product-content .list-product-car .product-item .title-car .title-right .item a:hover {
  background-color: #05141F;
  color: #fff;
}

.product-content-new .product-content .list-product-car .product-item .title-car .title-right .item p {
  margin: 0;
}

@media only screen and (max-width: 400px) {
  .product-content-new .product-content .list-product-car .product-item .title-car .title-right .item p {
    font-size: 10px;
  }
}

.product-content-new .product-content .list-product-car .product-item .title-car .title-right .brochure-product-download {
  flex: 1;
  max-width: 100%;
}

.product-content-new .product-content .list-product-car .product-item .title-car .title-right .brochure-product-download a {
  background-color: #05141F;
  color: #fff;
}

.product-content-new .product-content .list-product-car .product-item .title-car .title-right .brochure-product-download a:hover {
  background-color: #fff;
  color: #05141F;
}

.product-content-new .product-content .list-product-car .product-item .title-car .hybrid {
  border: 1px solid #05141F;
  width: -moz-max-content;
  width: max-content;
}

@media only screen and (max-width: 991px) {
  .product-content-new .product-content .list-product-car .product-item .title-car .hybrid {
    margin-right: 1rem;
    margin-bottom: 1rem;
  }
}

.product-content-new .product-content .list-product-car .product-item .title-car .hybrid a {
  width: 100%;
  background-color: #fff;
  color: #05141F;
  padding: 0.75rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-in-out;
  position: relative;
}

.product-content-new .product-content .list-product-car .product-item .title-car .hybrid a i {
  margin-left: 0.5rem;
}

.product-content-new .product-content .list-product-car .product-item .title-car .hybrid a:hover {
  background-color: #05141F;
  color: #fff;
}

.product-content-new .product-content .list-product-car .product-item .title-car.hybrid {
  padding-bottom: 2rem;
  margin-bottom: 0;
  border-bottom: 1px solid #e5e5e5;
}

.product-content-new .product-content .list-product-car .product-item .parameter-car {
  border-bottom: 1px solid #E5E5E5;
  margin: 0 1rem;
  padding: 1rem 0;
}

.product-content-new .product-content .list-product-car .product-item .price-car {
  border-bottom: 1px solid #E5E5E5;
  padding-bottom: 5px;
  margin: 0 1rem;
  color: #e63312;
}

.product-content-new .product-content .list-product-car .product-item .image-car {
  overflow: hidden;
  padding: 1.5rem 0;
}

.product-content-new .product-content .list-product-car .product-item .image-car a {
  display: block;
  position: relative;
  cursor: pointer;
  max-width: 70%;
  margin: 0 auto;
}

.product-content-new .product-content .list-product-car .product-item .image-car a::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 0;
  height: 0;
  background: #ffffff33;
  border-radius: 100%;
  opacity: 0;
}

.product-content-new .product-content .list-product-car .product-item .image-car a:hover::before {
  animation: circle .75s;
}

@media only screen and (max-width: 480px) {
  .___product {
    text-align: center;
    margin-bottom: 30px;
  }
  .___product:last-child {
    margin-bottom: 0;
  }
}

.___product div.image a {
  display: block;
  position: relative;
  cursor: pointer;
}

.___product div.image a:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 0;
  height: 0;
  background: #ffffff33;
  border-radius: 100%;
  opacity: 0;
}

.___product div.image a:hover:before {
  animation: circle .75s;
}

@keyframes circle {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  100% {
    width: 200%;
    height: 200%;
    opacity: 0;
  }
}

.___product h3.name,
.___product h3.price {
  color: #1f1f1f;
}

.___product p.slogan {
  padding-top: 5px;
  color: #aeaeae;
  text-transform: uppercase;
}

.___product h3.price-old {
  color: #999;
}

.___product h3.price {
  padding: 5px 0;
}

.___product .properties ul {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
}

@media only screen and (max-width: 480px) {
  .___product .properties ul {
    justify-content: center;
  }
}

.___product .properties ul li {
  margin-right: 20px;
}

.___product .properties ul li:last-child {
  margin-right: 0;
}

@media only screen and (max-width: 991px) {
  .___product .properties ul li {
    margin-right: 10px;
  }
}

.___product .properties ul li a {
  color: #aeaeae;
}

.___product .viewmore {
  padding-top: 5px;
  display: flex;
}

@media only screen and (max-width: 480px) {
  .___product .viewmore {
    justify-content: center;
  }
}

.___product .viewmore a {
  display: flex;
  color: #1f1f1f;
  align-items: center;
}

.___product .viewmore a i,
.___product .viewmore a svg {
  font-size: 10px;
  margin-left: 5px;
  margin-bottom: 1px;
  transition: all linear 0.3s;
}

.___product .viewmore a:nth-child(2) {
  margin: 0px 15px;
}

.___product .viewmore a:hover i,
.___product .viewmore a:hover svg {
  transition: all linear 0.3s;
  transform: translateX(5px);
}

.___product .viewmore a:hover {
  color: #EA0029;
}

.product-wrapper .product-content {
  padding: 0 0 50px;
  max-width: 90%;
  margin: 0 auto;
}

@media only screen and (max-width: 767px) {
  .product-wrapper .product-content {
    max-width: 100%;
    padding-bottom: 3rem;
  }
}

.product-wrapper .product-content .pagination-main-new {
  padding-bottom: 0;
}

div.tab-content-main {
  border-bottom: solid 2px #e5e5e5;
}

div.tab-content-main ul.tab-content-main {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

div.tab-content-main ul.tab-content-main li.menu-item {
  padding: 2rem 1.5rem 2rem 1.5rem;
  text-align: center;
  text-transform: unset;
}

@media only screen and (max-width: 480px) {
  div.tab-content-main ul.tab-content-main li.menu-item {
    padding: 10px 0;
    width: 80%;
  }
}

div.tab-content-main ul.tab-content-main li.menu-item:hover a {
  opacity: 1;
}

div.tab-content-main ul.tab-content-main li.menu-item a {
  display: block;
  color: #05141F;
  opacity: 0.5;
  font-size: 16px;
  text-transform: unset;
}

@media only screen and (max-width: 380px) {
  div.tab-content-main ul.tab-content-main li.menu-item a {
    font-size: 13px;
  }
}

div.tab-content-main ul.tab-content-main li.active a {
  opacity: 1;
}

.breakcrum-custom ol.breadcrumb {
  background: unset;
  margin-bottom: 30px;
  padding-left: 0;
  padding-right: 0;
}

.breakcrum-custom ol.breadcrumb li.breadcrumb-item {
  font-size: 12px;
}

@media only screen and (max-width: 767px) {
  .breakcrum-custom ol.breadcrumb li.breadcrumb-item {
    font-size: 10px;
  }
}

.breakcrum-custom ol.breadcrumb li.breadcrumb-item a {
  text-transform: uppercase;
  color: #1f1f1f;
}

.breakcrum-custom ol.breadcrumb li.breadcrumb-item.active {
  text-transform: uppercase;
  color: #1f1f1f;
}

.breakcrum-custom ol.breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  content: '>';
}

.product-breakcrum {
  max-width: 90%;
  margin: 0 auto;
}

@media only screen and (max-width: 767px) {
  .product-breakcrum {
    max-width: 100%;
  }
}

.product-menu-custom ul.product-menu {
  max-width: 80%;
  margin: 0 auto;
}

@media only screen and (max-width: 767px) {
  .product-menu-custom ul.product-menu {
    max-width: 100%;
  }
}

.hover-detail {
  position: relative;
}

.hover-detail:after {
  content: "";
  position: absolute;
  background-color: #EA0029;
  width: 0;
  height: 1.3px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: all linear 0.3s;
}

.hover-detail:hover:after {
  width: 100%;
}

.empty-message {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.empty-message h4 {
  align-items: center;
  color: #05141F;
  display: flex;
}

