.mCSB_draggerRail {
  display: none !important;
}

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 100%;
  background: #000;
  opacity: .2;
}

@keyframes MoveUpDown {
  0%,
  100% {
    bottom: -40px;
  }
  50% {
    bottom: -20px;
  }
}

@keyframes MoveDownUp {
  0%,
  100% {
    top: -40px;
  }
  50% {
    top: -20px;
  }
}

.___lrcontent .___content_left {
  position: relative;
}

.___lrcontent .___content_left div.see-specs {
  text-align: right;
}

@media only screen and (max-width: 991px) {
  .___lrcontent .___content_left div.see-specs {
    padding-bottom: 0;
  }
}

.___lrcontent .___content_left div.see-specs a {
  color: unset;
}

.___lrcontent .___content_left div.button a {
  padding: 1.5rem 4rem;
}

@media only screen and (max-width: 767px) {
  .___lrcontent .___content_left div.button a {
    padding: 1rem 2rem;
  }
}

.___lrcontent .___content_left div.button .button-register {
  margin: 2rem 0;
}

.___lrcontent .___content_left div.button .no-background {
  background-color: #E6E7E9;
  border: 1.5px solid #E6E7E9;
}

.___lrcontent .___content_left div.button .no-background:hover {
  color: #05141F;
  border: 1.5px solid #05141F;
}

.___lrcontent .___content_right {
  border-left: solid 0.5px #e5e5e5;
}

@media only screen and (max-width: 991px) {
  .___lrcontent .___content_right .tab-choose-car .content-list div.list {
    max-width: 100%;
    text-align: center;
  }
}

.___lrcontent .___content_right .tab-choose-car .content-list div.list .choose-model {
  position: relative;
}

@media only screen and (max-width: 991px) {
  .___lrcontent .___content_right .tab-choose-car .content-list div.list img {
    max-width: 50%;
  }
}

@media only screen and (max-width: 480px) {
  .___lrcontent .___content_right .tab-choose-car .content-list div.list img {
    max-width: 60%;
  }
}

.___lrcontent .___content_right .tab-choose-car .content-list div.list h1 {
  padding: 10% 0;
}

.___lrcontent .___content_right .tab-choose-car .content-list div.list label.price-car {
  position: relative;
  cursor: pointer;
  display: block;
  padding-bottom: 15px;
  margin-bottom: 15px;
  padding-left: 0;
}

@media only screen and (max-width: 991px) {
  .___lrcontent .___content_right .tab-choose-car .content-list div.list label.price-car {
    padding-bottom: 7px;
    margin-bottom: 7px;
  }
}

.___lrcontent .___content_right .tab-choose-car .content-list div.list label.price-car:before {
  content: unset;
}

.___lrcontent .___content_right .tab-choose-car .content-list div.list label.price-car:after {
  content: '';
  position: absolute;
  bottom: 0;
  top: unset;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #EA0029;
  display: block;
  transform: unset;
  opacity: 1;
  transition: all linear 0.3s;
}

.___lrcontent .___content_right .tab-choose-car .content-list div.list label.price-car:hover:after {
  width: 100%;
  transition: all linear 0.3s;
}

.___lrcontent .___content_right .tab-choose-car .content-list div.list label.price-car h2 {
  text-transform: uppercase;
  color: #1f1f1f;
  font-size: 14px;
}

@media only screen and (max-width: 991px) {
  .___lrcontent .___content_right .tab-choose-car .content-list div.list label.price-car h2 {
    font-size: 12px;
  }
}

.___lrcontent .___content_right .tab-choose-car .content-list div.list label.price-car span.price {
  color: #EA0029;
  font-size: 12px;
  text-transform: uppercase;
}

@media only screen and (max-width: 991px) {
  .___lrcontent .___content_right .tab-choose-car .content-list div.list label.price-car span.price {
    font-size: 10px;
  }
}

.___lrcontent .___content_right .tab-choose-car .content-list div.list input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  padding: 0;
  cursor: pointer;
  left: 0;
  z-index: -10;
  visibility: hidden;
}

.___lrcontent .___content_right .tab-choose-car .content-list div.list input[type="radio"]:checked + label.price-car::after {
  width: 100%;
  transition: all linear 0.3s;
}

@media only screen and (max-width: 991px) {
  .___estimate__content {
    flex-direction: column;
  }
  .___estimate__content .___content_left {
    max-width: 100%;
    flex: 1;
    border: none;
  }
  .___estimate__content .___content_right {
    max-width: 100%;
    flex: 1;
    border: none;
  }
  .___estimate__content .___content_right .___car_list {
    max-height: unset;
    overflow-y: unset;
  }
}

.___car_list {
  padding: 15px 0;
}

.___car_list .swiper-container {
  height: 100%;
  max-height: 670px;
}

@media only screen and (max-width: 1440px) {
  .___car_list .swiper-container {
    max-height: 620px;
  }
}

@media only screen and (max-width: 1366px) {
  .___car_list .swiper-container {
    max-height: 590px;
  }
}

@media only screen and (max-width: 1080px) {
  .___car_list .swiper-container {
    max-height: 520px;
  }
}

@media only screen and (max-width: 767px) {
  .___car_list .swiper-container {
    max-height: unset;
  }
}

.___car_list .___car {
  position: relative;
  margin-bottom: 50px;
}

@media only screen and (max-width: 991px) {
  .___car_list .___car {
    margin-bottom: 0;
  }
}

.___car_list .___car:last-child {
  margin-bottom: 0;
}

.___car_list .___car input[type="radio"] {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  z-index: -10;
}

.___car_list .___car label.car-item {
  padding-left: 0;
  height: 100%;
}

.___car_list .___car label.car-item:after {
  content: unset;
}

.___car_list .___car label.car-item:before {
  content: unset;
}

.___car_list .___car label.car-item span.image {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 40%;
  margin: 0 auto;
  padding-bottom: 5px;
  font-size: 12px;
  color: #1f1f1f;
  text-transform: uppercase;
  position: relative;
}

.___car_list .___car label.car-item span.image:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #EA0029;
  display: block;
  transition: all linear 0.3s;
}

.___car_list .___car label.car-item span.image div.content-price .price-car {
  padding-bottom: 35px;
}

.___car_list .___car label.car-item span.image img {
  margin: 0 auto;
  display: block;
  max-width: 100%;
  transition: all linear 0.3s;
}

@media only screen and (max-width: 991px) {
  .___car_list .___car label.car-item span.image img {
    max-width: 100%;
  }
}

.___car_list .___car label.car-item span.image:hover:after {
  width: 100%;
  transition: all linear 0.3s;
}

.___car_list .___car label.car-item span.image:hover img {
  max-width: 100%;
  transition: all linear 0.3s;
}

.tab-choose-car {
  margin: 3rem 5rem;
}

@media only screen and (max-width: 767px) {
  .tab-choose-car {
    margin: 0 0 3rem 0;
  }
}

.tab-choose-car .___car_list-new {
  width: 100%;
  height: 100%;
}

.tab-choose-car .___car_list-new .select_car_detail {
  width: 100%;
  height: 100%;
  padding: 40px 0;
}

.tab-choose-car .___car_list-new .select_car_detail .swiper-wrapper {
  height: 100%;
  width: 100%;
}

.tab-choose-car .___car_list-new .select_car_detail .swiper-wrapper .list i.scroll-down-car {
  transition: all 0.5s ease-in-out;
  position: absolute;
  right: 25%;
  bottom: 0;
  cursor: pointer;
  animation: MoveUpDown 1.5s linear infinite;
  font-size: 1.8rem;
}

.tab-choose-car .___car_list-new .select_car_detail .swiper-wrapper .list i.scroll-up-car {
  transition: all 0.5s ease-in-out;
  position: absolute;
  top: 0;
  right: 25%;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  animation: MoveDownUp 1.5s linear infinite;
  font-size: 1.8rem;
}

.tab-choose-car .___car_list-new .select_car_detail .swiper-wrapper .list .scroll-down-car.hidden,
.tab-choose-car .___car_list-new .select_car_detail .swiper-wrapper .list .scroll-up-car.hidden {
  opacity: 0 !important;
  visibility: hidden !important;
}

.tab-choose-car .___car_list-new .select_car_detail .swiper-wrapper .list .scroll-down-car.show,
.tab-choose-car .___car_list-new .select_car_detail .swiper-wrapper .list .scroll-up-car.show {
  opacity: 1 !important;
  visibility: visible !important;
}

@media only screen and (max-width: 940px) {
  .tab-choose-car .___car_list-new .select_car_detail .swiper-wrapper .list {
    flex-direction: column;
  }
  .tab-choose-car .___car_list-new .select_car_detail .swiper-wrapper .list i.scroll-down-car {
    right: 48%;
  }
  .tab-choose-car .___car_list-new .select_car_detail .swiper-wrapper .list i.scroll-up-car {
    right: 48%;
  }
}

.tab-choose-car .___car_list-new .select_car_detail .swiper-wrapper .list .list-info-car {
  flex: 0 0 45%;
}

.tab-choose-car .___car_list-new .select_car_detail .swiper-wrapper .list .list-info-car h1 {
  text-align: center;
  margin-top: 1rem;
}

.tab-choose-car .___car_list-new .select_car_detail .swiper-wrapper .list .list-choose-model {
  margin-left: 1.5rem;
  padding-right: 1rem;
  max-height: 200px;
  height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  top: 0;
  flex: 1;
}

.tab-choose-car .___car_list-new .select_car_detail .swiper-wrapper .list .list-choose-model .choose-model {
  padding: 1.5rem 0 0.5rem 0;
  position: relative;
}

.tab-choose-car .___car_list-new .select_car_detail .swiper-wrapper .list .list-choose-model .choose-model::after {
  content: "";
  position: absolute;
  background-color: #05141F;
  width: 100%;
  height: 1px;
  bottom: -2px;
  left: 0;
}

.tab-choose-car .___car_list-new .select_car_detail .swiper-wrapper .list .list-choose-model .choose-model:last-child::after {
  width: 0;
  height: 0;
}

.tab-choose-car .___car_list-new .select_car_detail .swiper-wrapper .list .list-choose-model .price-car {
  padding-left: 0;
  margin-left: 0;
}

.tab-choose-car .___car_list-new .select_car_detail .swiper-wrapper .list .list-choose-model .price-car h2 {
  color: #05141F;
  font-size: 14px;
}

.tab-choose-car .___car_list-new .select_car_detail .swiper-wrapper .list .list-choose-model .price-car span {
  color: #05141F;
}

.tab-choose-car .___car_list-new .select_car_detail .swiper-wrapper .list .list-choose-model .price-car::after {
  display: none;
}

.tab-choose-car .___car_list-new .select_car_detail .swiper-wrapper .list .list-choose-model .price-car::before {
  display: none;
}

.tab-choose-car .___car_list-new .select_car_detail .swiper-wrapper .list .list-choose-model .price-car.active h2 {
  color: red;
}

.tab-choose-car .___car_list-new .select_car_detail .swiper-wrapper .list .list-choose-model .price-car.active span.price {
  color: red;
}

.tab-choose-car .___car_list-new .select_car_detail .swiper-wrapper .list .list-choose-model::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

.tab-choose-car .___car_list-new .select_car_detail .swiper-wrapper .list .list-choose-model::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

.tab-choose-car .___car_list-new .select_car_detail .swiper-wrapper .list .list-choose-model::-webkit-scrollbar-thumb {
  background: #939393;
  border: 0px none #ffffff;
  border-radius: 25px;
}

.tab-choose-car .___car_list-new .select_car_detail .swiper-wrapper .list .list-choose-model::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}

.tab-choose-car .___car_list-new .select_car_detail .swiper-wrapper .list .list-choose-model::-webkit-scrollbar-thumb:active {
  background: #000000;
}

.tab-choose-car .___car_list-new .select_car_detail .swiper-wrapper .list .list-choose-model::-webkit-scrollbar-track {
  background: #ffffff;
  border: 0px none #ffffff;
  border-radius: 36px;
}

.tab-choose-car .___car_list-new .select_car_detail .swiper-wrapper .list .list-choose-model::-webkit-scrollbar-track:hover {
  background: #ffffff;
}

.tab-choose-car .___car_list-new .select_car_detail .swiper-wrapper .list .list-choose-model::-webkit-scrollbar-track:active {
  background: #ffffff;
}

.tab-choose-car .___car_list-new .select_car_detail .swiper-wrapper .list .list-choose-model::-webkit-scrollbar-corner {
  background: transparent;
}

.tab-choose-car .___car_list-new .select_car_detail .swiper-wrapper .list .list-choose-model::-webkit-scrollbar {
  display: none;
}

.___flex_menu {
  padding: 10px;
}

.___flex_menu .nav {
  border: none;
  border-radius: 10px;
  padding: 5px 0;
  justify-content: center;
}

.___flex_menu .nav a {
  padding: 0;
  margin-right: 3rem;
  position: relative;
  flex: unset;
  margin-bottom: 1rem;
}

.___flex_menu .nav a::after {
  content: "";
  position: absolute;
  background-color: #05141F;
  width: 0;
  height: 3px;
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%);
  transition: all linear 0.3s;
}

.___flex_menu .nav a span {
  font-size: 14px;
  color: #05141f66;
  margin: 0;
}

.___flex_menu .nav a:hover {
  border: 1px solid transparent;
}

.___flex_menu .nav a:hover span {
  color: #05141F;
}

.___flex_menu .nav a.active {
  border: 1px solid transparent;
  color: #05141F;
  background-color: unset;
}

.___flex_menu .nav a.active::after {
  width: 100%;
}

.___flex_menu .nav a.active span {
  color: #05141F;
  border-radius: 30px;
  transition: all linear 0.1s;
}

div.highlight_function {
  max-width: 85%;
  margin: 0 auto;
}

@media only screen and (max-width: 1200px) {
  div.highlight_function {
    max-width: 100%;
  }
}

div.highlight_function .highlight {
  align-items: flex-end;
}

div.highlight_function .highlight .item {
  padding: 0 40px;
  border-right: solid 1px #e5e5e5;
}

@media only screen and (max-width: 767px) {
  div.highlight_function .highlight .item {
    padding: 0 15px;
  }
}

div.highlight_function .highlight .item:first-child {
  padding-left: 0;
}

div.highlight_function .highlight .item:last-child {
  padding-right: 0;
  margin-right: 0;
  border-right: none;
}

div.highlight_function .highlight .item a {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

div.highlight_function .highlight .item a img {
  display: block;
  margin: 0 auto;
}

div.highlight_function .highlight .item a span {
  margin-top: 5px;
  color: #1f1f1f;
  font-size: 10px;
  text-transform: uppercase;
  text-align: center;
}

@media only screen and (max-width: 576px) {
  div.highlight_function .highlight .item a span {
    text-align: center;
  }
}

.___content_left {
  padding: 40px;
}

@media only screen and (max-width: 767px) {
  .___content_left {
    padding: 15px 0;
  }
}

.___content_left .slide-wrapper {
  display: flex;
}

@media only screen and (max-width: 767px) {
  .___content_left .slide-wrapper {
    display: block;
  }
}

.___content_left .slide-wrapper .button {
  width: -moz-max-content;
  width: max-content;
  position: absolute;
}

@media only screen and (max-width: 767px) {
  .___content_left .slide-wrapper .button {
    display: flex;
    position: unset;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
  }
}

.___content_left .___select_car_container {
  flex: 1;
  height: 100%;
  padding-bottom: 10px;
}

.___content_left .___select_car_container .highlight {
  height: 100%;
}

.___content_left .___select_car_container .highlight .swiper-slide {
  display: flex;
  align-items: center;
}

.___content_left .___select_car_container .highlight .swiper-slide h1 {
  color: #EA0029;
  margin-left: 22rem;
}

@media only screen and (max-width: 1380px) {
  .___content_left .___select_car_container .highlight .swiper-slide h1 {
    margin-left: 18rem;
  }
}

@media only screen and (max-width: 1080px) {
  .___content_left .___select_car_container .highlight .swiper-slide h1 {
    margin-left: 14rem;
    font-size: 20px;
  }
}

@media only screen and (max-width: 950px) {
  .___content_left .___select_car_container .highlight .swiper-slide h1 {
    margin-left: 10rem;
  }
}

@media only screen and (max-width: 767px) {
  .___content_left .___select_car_container .highlight .swiper-slide h1 {
    margin-left: unset;
    text-align: center;
  }
}

@media only screen and (max-width: 767px) {
  .___content_left .___select_car_container .highlight .swiper-slide img {
    max-width: 100%;
  }
}

.___content_left .car-image img {
  display: block;
  margin: 0 auto;
  padding-bottom: 40px;
}

@media only screen and (max-width: 767px) {
  .___estimate_wrapper {
    padding-top: 10px;
  }
}

@media only screen and (max-width: 767px) {
  .___estimate_wrapper .___estimate_breadcrum ol.breadcrumb {
    margin-bottom: 10px;
  }
}

.___estimate_wrapper .___estimate_menu ul li a {
  text-transform: unset !important;
  opacity: 0.5;
}

.___estimate_wrapper .___estimate_menu ul li.active a {
  opacity: 1;
}

@media only screen and (max-width: 991px) {
  .___estimate_wrapper .___estimate_menu div.menu-with-button {
    flex-direction: column;
  }
}

@media only screen and (max-width: 1366px) {
  .___estimate_wrapper .___estimate_menu div.form-action button.red-button {
    font-size: 14px;
  }
}

@media only screen and (max-width: 1170px) {
  .___estimate_wrapper .___estimate_menu div.form-action button.red-button {
    font-size: 14px;
  }
}

@media only screen and (max-width: 991px) {
  .___estimate_wrapper .___estimate_menu div.form-action {
    flex: 0 100%;
    max-width: 100%;
  }
}

.choose-color {
  position: absolute;
  width: 100%;
  bottom: 25px;
  text-align: center;
  text-transform: uppercase;
  font-size: 10px;
}

.swiper-pagination-bullet:not(:last-child) {
  margin-right: 15px !important;
}

.swiper-pagination-bullet:not(:last-child):last-child {
  margin-right: 0;
}

#estimate-car {
  position: relative;
}

.swiper-pagination-car {
  width: 100%;
}

.swiper-pagination-car span {
  background-color: var(--data-color);
  width: 30px;
  height: 30px;
  margin-right: 15px;
  margin-bottom: 0.5rem;
  position: relative;
  border: 2px solid #dfdfdf;
  opacity: 1;
  display: inline-block;
  border-radius: 50%;
}

.swiper-pagination-car span:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100% + 12px);
  height: calc(100% + 12px);
  transform: translate(-50%, -50%);
  border: 1px solid transparent;
  border-radius: 50%;
  transition: all linear 0.3s;
  opacity: 1;
}

.swiper-pagination-car span[data-color="#ffffff"] {
  border: 1px solid rgba(0, 0, 0, 0.4);
}

.swiper-pagination-car span.swiper-pagination-bullet-active:after {
  border-color: rgba(0, 0, 0, 0.4);
  transition: all linear 0.3s;
}

@media only screen and (max-width: 400px) {
  .swiper-pagination-car.bottom {
    bottom: -3.5rem;
  }
}

