

/* Slideshow container */
.slideshow-container {
  position: relative;
  max-width: 100%;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
  animation: slide 1s ease-in-out;
}

@keyframes slide {
  0% {
      opacity: 0.5;
  }

  100% {
      opacity: 1;
  }
}

/* Style the navigation dots */
.dot {
  width: 40px;
  height: 4px;
  border-radius: 5px;
  margin-right: 5px;
  background-color: #05141f;
  opacity: .4;
  display: inline-block;
}

.slide-pagination {
  position: absolute;
  bottom: 40px;
  left: 10%;
  z-index: 1;
}

.active {
  opacity: 1;
}

.slide-button-next,
.slide-button-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.slide-button-prev {
  text-align: left;
  left: 4%;
}

.slide-button-prev img,
.slide-button-next img {
  max-width: 50%;
}

.slide-button-next {
  text-align: right;
  right: 4%;
}
