ul, ol, dd {
  margin: 0 !important;
  padding: 0;
  list-style: none;
}

.hidden{
  display: none;
}

body {
  font-size: 14px;
  line-height: 1.5;
  color: #00095b;
  font-family: 'Ford Antenna', sans-serif;
}

@media only screen and (max-width: 1600px) {
  .container-fluid{
    --bs-gutter-x: initial !important;
  }
}

a {
  text-decoration: none;
  color: unset;
}
