.mCSB_draggerRail {
  display: none !important;
}

.new-wrapper .cover-content {
  margin-top: 2rem;
}

.new-wrapper .cover-content_banner .swiper-new-banner .swiper-wrapper .slide-new img {
  height: 100vh;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

@media only screen and (max-width: 991px) {
  .new-wrapper .cover-content_banner .swiper-new-banner .swiper-wrapper .slide-new img {
    height: 100%;
  }
}

.new-wrapper .cover-content_new div.new-category img {
  max-width: 100%;
}

.new-wrapper .cover-content_new div.new-category .img-asp-ratio {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.new-wrapper .cover-content_new div.new-category .list-post-new {
  display: flex;
}

@media only screen and (max-width: 767px) {
  .new-wrapper .cover-content_new div.new-category .list-post-new {
    display: block;
  }
}

.new-wrapper .cover-content_new div.new-category .list-post-new .top {
  flex: 0 0 49%;
  max-width: 49%;
}

.new-wrapper .cover-content_new div.new-category .list-post-new .top:nth-child(1) {
  margin-right: 2%;
}

@media only screen and (max-width: 767px) {
  .new-wrapper .cover-content_new div.new-category .list-post-new .top:nth-child(1) {
    margin-right: 0;
  }
}

@media only screen and (max-width: 767px) {
  .new-wrapper .cover-content_new div.new-category .list-post-new .top {
    margin-top: 3rem;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.new-wrapper .cover-content_new div.new-category .list-post-new .top .top-new {
  width: 100%;
  height: 0%;
  padding-bottom: 90%;
  overflow: hidden;
  position: relative;
  background-color: #00000080;
}

.new-wrapper .cover-content_new div.new-category .list-post-new .top .top-new a {
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
}

.new-wrapper .cover-content_new div.new-category .list-post-new .top .top-new a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media only screen and (min-width: 991px) {
  .new-wrapper .cover-content_new div.new-category .list-post-new .top .top-new:hover .content-top {
    color: #fff;
    opacity: 1;
    transition: 0.5s;
    transform: translateY(0);
    -webkit-transition: all 0.8s ease-out;
    -moz-transition: all 0.8s ease-out;
    background-color: #00000080;
  }
}

.new-wrapper .cover-content_new div.new-category .list-post-new .top .top-new .content-top {
  color: #fff;
  transition: 0.5s;
  bottom: 0;
  padding: 0 3rem;
  position: absolute;
  padding: 2rem;
  transform: translateY(100%);
  opacity: 0;
}

@media only screen and (max-width: 991px) {
  .new-wrapper .cover-content_new div.new-category .list-post-new .top .top-new .content-top {
    transform: unset;
    opacity: 1;
    padding: 1rem;
    background-color: #00000080;
  }
}

.new-wrapper .cover-content_new div.new-category .list-post-new .top .top-new .content-top h2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  margin-bottom: 2rem;
  text-transform: uppercase;
  line-height: 1.7;
}

@media only screen and (max-width: 991px) {
  .new-wrapper .cover-content_new div.new-category .list-post-new .top .top-new .content-top h2 {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 480px) {
  .new-wrapper .cover-content_new div.new-category .list-post-new .top .top-new .content-top h2 {
    margin-top: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
  }
}

.new-wrapper .cover-content_new div.new-category .list-post-new .top .top-new .content-top p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

@media only screen and (max-width: 480px) {
  .new-wrapper .cover-content_new div.new-category .list-post-new .top .top-new .content-top p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
  }
}

.new-wrapper .cover-content_new div.new-category .list-post-new .top .top-new .content-top .date-time {
  padding-top: 1.5rem;
  opacity: 0.5;
}

@media only screen and (max-width: 991px) {
  .new-wrapper .cover-content_new div.new-category .list-post-new .top .top-new .content-top .date-time {
    padding-top: 0;
  }
}

@media only screen and (max-width: 767px) {
  .new-wrapper .cover-content_new div.new-category .list-post-new .top .top-new .content-top .date-time {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.new-wrapper .cover-content_new div.new-category .list-post-new .top .top-new .content-top .date-time span.date {
  margin-right: 3rem;
}

.new-wrapper .cover-content_new div.new-category .form-action.new {
  text-align: center;
  padding-bottom: 6rem;
}

.new-wrapper .cover-content_new div.new-category .list-post-hot {
  display: flex;
  margin-bottom: 8rem;
}

@media only screen and (max-width: 767px) {
  .new-wrapper .cover-content_new div.new-category .list-post-hot {
    margin-top: 3rem;
    flex-direction: column-reverse;
    padding-bottom: 0;
  }
}

.new-wrapper .cover-content_new div.new-category .list-post-hot .item-post-left-wrapper {
  flex: 0 0 30%;
  max-width: 30%;
}

@media only screen and (max-width: 767px) {
  .new-wrapper .cover-content_new div.new-category .list-post-hot .item-post-left-wrapper {
    max-width: 100%;
  }
}

@media only screen and (max-width: 1080px) and (min-width: 768px) {
  .new-wrapper .cover-content_new div.new-category .list-post-hot .item-post-left-wrapper {
    flex: 0 0 37%;
    max-width: 37%;
  }
}

.new-wrapper .cover-content_new div.new-category .list-post-hot .item-post-left-wrapper .title-left {
  padding-bottom: 2rem;
  font-size: 25px;
  text-align: center;
  font-weight: bold;
}

@media only screen and (max-width: 480px) {
  .new-wrapper .cover-content_new div.new-category .list-post-hot .item-post-left-wrapper .title-left {
    padding: 3rem 0 0;
    font-size: 25px;
  }
}

.new-wrapper .cover-content_new div.new-category .list-post-hot .item-post-left-wrapper .item-post-left .img-post-hot {
  display: flex;
  padding: 1rem;
  border: 1px solid rgba(34, 36, 38, 0.15);
  background: rgba(5, 20, 31, 0.03);
}

.new-wrapper .cover-content_new div.new-category .list-post-hot .item-post-left-wrapper .item-post-left .img-post-hot:last-child {
  margin-bottom: 0;
}

@media only screen and (max-width: 767px) {
  .new-wrapper .cover-content_new div.new-category .list-post-hot .item-post-left-wrapper .item-post-left .img-post-hot:last-child {
    margin-bottom: 3rem;
  }
}

.new-wrapper .cover-content_new div.new-category .list-post-hot .item-post-left-wrapper .item-post-left .img-post-hot .left {
  flex: 0 0 30%;
  max-width: 30%;
}

@media only screen and (max-width: 767px) {
  .new-wrapper .cover-content_new div.new-category .list-post-hot .item-post-left-wrapper .item-post-left .img-post-hot .left {
    max-width: 100%;
  }
}

.new-wrapper .cover-content_new div.new-category .list-post-hot .item-post-left-wrapper .item-post-left .img-post-hot .left .image-wrap {
  width: 100%;
  height: 0%;
  padding-bottom: 100%;
  overflow: hidden;
  position: relative;
}

@media only screen and (max-width: 767px) {
  .new-wrapper .cover-content_new div.new-category .list-post-hot .item-post-left-wrapper .item-post-left .img-post-hot .left .image-wrap {
    padding-bottom: 56%;
  }
}

.new-wrapper .cover-content_new div.new-category .list-post-hot .item-post-left-wrapper .item-post-left .img-post-hot .left .image-wrap a {
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
}

.new-wrapper .cover-content_new div.new-category .list-post-hot .item-post-left-wrapper .item-post-left .img-post-hot .left .image-wrap a:hover img {
  transform: scale(1.08);
}

.new-wrapper .cover-content_new div.new-category .list-post-hot .item-post-left-wrapper .item-post-left .img-post-hot .left .image-wrap a img {
  width: 100%;
  height: 66%;
  -o-object-fit: contain;
     object-fit: contain;
  transition: transform .3s, visibility .3s ease-in;
}

.new-wrapper .cover-content_new div.new-category .list-post-hot .item-post-left-wrapper .item-post-left .img-post-hot .right {
  flex: 0 0 66%;
  max-width: 66%;
  margin-left: 4%;
}

@media only screen and (max-width: 767px) {
  .new-wrapper .cover-content_new div.new-category .list-post-hot .item-post-left-wrapper .item-post-left .img-post-hot .right {
    max-width: 100%;
    margin: 2rem 0 0 0;
  }
}

.new-wrapper .cover-content_new div.new-category .list-post-hot .item-post-left-wrapper .item-post-left .img-post-hot .right .title a {
  font-family: "VN-KiaSignature-Bold", sans-serif;
  display: block;
  color: #05141F;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.new-wrapper .cover-content_new div.new-category .list-post-hot .item-post-left-wrapper .item-post-left .img-post-hot .right .date-time {
  display: flex;
  margin-top: 1rem;
  color: #00000080;
}

@media only screen and (max-width: 767px) {
  .new-wrapper .cover-content_new div.new-category .list-post-hot .item-post-left-wrapper .item-post-left .img-post-hot .right .date-time {
    justify-content: space-between;
  }
}

.new-wrapper .cover-content_new div.new-category .list-post-hot .item-post-left-wrapper .item-post-left .img-post-hot .right .date-time .date {
  display: flex;
  align-items: center;
}

.new-wrapper .cover-content_new div.new-category .list-post-hot .item-post-left-wrapper .item-post-left .img-post-hot .right .date-time .date i {
  margin-right: 1rem;
}

@media only screen and (max-width: 1080px) and (min-width: 768px) {
  .new-wrapper .cover-content_new div.new-category .list-post-hot .item-post-left-wrapper .item-post-left .img-post-hot .right .date-time .date {
    margin-right: 1rem;
  }
}

.new-wrapper .cover-content_new div.new-category .list-post-hot .item-post-left-wrapper .item-post-left .img-post-hot .right .date-time span {
  display: block;
  margin-right: 2rem;
}

@media only screen and (max-width: 1080px) and (min-width: 768px) {
  .new-wrapper .cover-content_new div.new-category .list-post-hot .item-post-left-wrapper .item-post-left .img-post-hot .right .date-time span {
    margin-right: 0;
  }
}

@media only screen and (max-width: 767px) {
  .new-wrapper .cover-content_new div.new-category .list-post-hot .item-post-left-wrapper .item-post-left .img-post-hot .right .date-time span {
    margin: 0;
  }
}

@media only screen and (max-width: 767px) {
  .new-wrapper .cover-content_new div.new-category .list-post-hot .item-post-left-wrapper .item-post-left .img-post-hot {
    flex-direction: column;
  }
}

.new-wrapper .cover-content_new div.new-category .list-post-hot .item-post-right-wrapper {
  margin-left: 4%;
  flex: 0 0 66%;
  max-width: 66%;
}

@media only screen and (max-width: 767px) {
  .new-wrapper .cover-content_new div.new-category .list-post-hot .item-post-right-wrapper {
    margin: 0;
    max-width: 100%;
  }
}

@media only screen and (max-width: 1080px) and (min-width: 768px) {
  .new-wrapper .cover-content_new div.new-category .list-post-hot .item-post-right-wrapper {
    margin-left: 2%;
    flex: 0 0 60%;
    max-width: 60%;
  }
}

.new-wrapper .cover-content_new div.new-category .list-post-hot .item-post-right-wrapper .title-left {
  padding-bottom: 2rem;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

@media only screen and (max-width: 480px) {
  .new-wrapper .cover-content_new div.new-category .list-post-hot .item-post-right-wrapper .title-left {
    padding: 3rem 0 0;
    font-size: 25px;
  }
}

.new-wrapper .cover-content_new div.new-category .list-post-hot .item-post-right-wrapper .item-post-right {
  display: flex;
}

@media only screen and (max-width: 767px) {
  .new-wrapper .cover-content_new div.new-category .list-post-hot .item-post-right-wrapper .item-post-right {
    display: block;
  }
}

.new-wrapper .cover-content_new div.new-category .list-post-hot .item-post-right-wrapper .item-post-right .item-post-one {
  overflow: hidden;
}

.new-wrapper .cover-content_new div.new-category .list-post-hot .item-post-right-wrapper .item-post-right .item-post-one .img-center-post-hot .image-new-center {
  width: 100%;
  height: 0%;
  padding-bottom: 90%;
  overflow: hidden;
  position: relative;
}

.new-wrapper .cover-content_new div.new-category .list-post-hot .item-post-right-wrapper .item-post-right .item-post-one .img-center-post-hot .image-new-center a {
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
}

.new-wrapper .cover-content_new div.new-category .list-post-hot .item-post-right-wrapper .item-post-right .item-post-one .img-center-post-hot .image-new-center a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.3s, visibility 0.3s ease-in;
}

.new-wrapper .cover-content_new div.new-category .list-post-hot .item-post-right-wrapper .item-post-right .item-post-one .img-center-post-hot .image-new-center:hover img {
  transform: scale(1.08);
}

.new-wrapper .cover-content_new div.new-category .list-post-hot .item-post-right-wrapper .item-post-right .item-post-one .img-center-post-hot .img-post-new {
  display: flex;
  padding-bottom: 2rem;
  border-bottom: 1px solid #00000040;
  margin-bottom: 1rem;
}

.new-wrapper .cover-content_new div.new-category .list-post-hot .item-post-right-wrapper .item-post-right .item-post-one .img-center-post-hot .img-post-new:last-child {
  margin-bottom: 0;
  border-bottom: none;
}

@media only screen and (max-width: 767px) {
  .new-wrapper .cover-content_new div.new-category .list-post-hot .item-post-right-wrapper .item-post-right .item-post-one .img-center-post-hot .img-post-new:last-child {
    margin-bottom: 3rem;
  }
}

.new-wrapper .cover-content_new div.new-category .list-post-hot .item-post-right-wrapper .item-post-right .item-post-one .img-center-post-hot .img-post-new .left {
  flex: 0 0 30%;
  max-width: 30%;
}

@media only screen and (max-width: 767px) {
  .new-wrapper .cover-content_new div.new-category .list-post-hot .item-post-right-wrapper .item-post-right .item-post-one .img-center-post-hot .img-post-new .left {
    max-width: 100%;
  }
}

.new-wrapper .cover-content_new div.new-category .list-post-hot .item-post-right-wrapper .item-post-right .item-post-one .img-center-post-hot .img-post-new .left .image-wrap {
  width: 100%;
  height: 0%;
  padding-bottom: 100%;
  overflow: hidden;
  position: relative;
}

@media only screen and (max-width: 767px) {
  .new-wrapper .cover-content_new div.new-category .list-post-hot .item-post-right-wrapper .item-post-right .item-post-one .img-center-post-hot .img-post-new .left .image-wrap {
    padding-bottom: 56%;
  }
}

.new-wrapper .cover-content_new div.new-category .list-post-hot .item-post-right-wrapper .item-post-right .item-post-one .img-center-post-hot .img-post-new .left .image-wrap a {
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
}

.new-wrapper .cover-content_new div.new-category .list-post-hot .item-post-right-wrapper .item-post-right .item-post-one .img-center-post-hot .img-post-new .left .image-wrap a:hover img {
  transform: scale(1.08);
}

.new-wrapper .cover-content_new div.new-category .list-post-hot .item-post-right-wrapper .item-post-right .item-post-one .img-center-post-hot .img-post-new .left .image-wrap a img {
  width: 100%;
  height: 66%;
  -o-object-fit: contain;
     object-fit: contain;
  transition: transform .3s, visibility .3s ease-in;
}

.new-wrapper .cover-content_new div.new-category .list-post-hot .item-post-right-wrapper .item-post-right .item-post-one .img-center-post-hot .img-post-new .right {
  flex: 0 0 70%;
  max-width: 70%;
  margin-left: 4%;
}

@media only screen and (max-width: 767px) {
  .new-wrapper .cover-content_new div.new-category .list-post-hot .item-post-right-wrapper .item-post-right .item-post-one .img-center-post-hot .img-post-new .right {
    max-width: 100%;
    margin: 2rem 0 0 0;
  }
}

.new-wrapper .cover-content_new div.new-category .list-post-hot .item-post-right-wrapper .item-post-right .item-post-one .img-center-post-hot .img-post-new .right .title {
  font-size: 24px;
}

.new-wrapper .cover-content_new div.new-category .list-post-hot .item-post-right-wrapper .item-post-right .item-post-one .img-center-post-hot .img-post-new .right .title:hover a {
  color: #adadad;
}

.new-wrapper .cover-content_new div.new-category .list-post-hot .item-post-right-wrapper .item-post-right .item-post-one .img-center-post-hot .img-post-new .right .title a {
  font-family: "VN-KiaSignature-Bold", sans-serif;
  display: block;
  color: #05141F;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.new-wrapper .cover-content_new div.new-category .list-post-hot .item-post-right-wrapper .item-post-right .item-post-one .img-center-post-hot .img-post-new .right .date-time {
  display: flex;
  margin-top: 1rem;
  color: #00000080;
}

@media only screen and (max-width: 767px) {
  .new-wrapper .cover-content_new div.new-category .list-post-hot .item-post-right-wrapper .item-post-right .item-post-one .img-center-post-hot .img-post-new .right .date-time {
    justify-content: space-between;
  }
}

.new-wrapper .cover-content_new div.new-category .list-post-hot .item-post-right-wrapper .item-post-right .item-post-one .img-center-post-hot .img-post-new .right .date-time .date {
  display: flex;
  align-items: center;
}

.new-wrapper .cover-content_new div.new-category .list-post-hot .item-post-right-wrapper .item-post-right .item-post-one .img-center-post-hot .img-post-new .right .date-time .date i {
  margin-right: 1rem;
}

@media only screen and (max-width: 1080px) and (min-width: 768px) {
  .new-wrapper .cover-content_new div.new-category .list-post-hot .item-post-right-wrapper .item-post-right .item-post-one .img-center-post-hot .img-post-new .right .date-time .date {
    margin-right: 1rem;
  }
}

.new-wrapper .cover-content_new div.new-category .list-post-hot .item-post-right-wrapper .item-post-right .item-post-one .img-center-post-hot .img-post-new .right .date-time span {
  display: block;
  margin-right: 2rem;
}

@media only screen and (max-width: 1080px) and (min-width: 768px) {
  .new-wrapper .cover-content_new div.new-category .list-post-hot .item-post-right-wrapper .item-post-right .item-post-one .img-center-post-hot .img-post-new .right .date-time span {
    margin-right: 0;
  }
}

@media only screen and (max-width: 767px) {
  .new-wrapper .cover-content_new div.new-category .list-post-hot .item-post-right-wrapper .item-post-right .item-post-one .img-center-post-hot .img-post-new .right .date-time span {
    margin: 0;
  }
}

@media only screen and (max-width: 767px) {
  .new-wrapper .cover-content_new div.new-category .list-post-hot .item-post-right-wrapper .item-post-right .item-post-one .img-center-post-hot .img-post-new {
    flex-direction: column;
  }
}

.new-wrapper .cover-content_new div.new-category .list-post-hot .item-post-right-wrapper .item-post-right .item-post-one .img-center-post-hot .title-post-host {
  padding-top: 3rem;
}

@media only screen and (max-width: 767px) {
  .new-wrapper .cover-content_new div.new-category .list-post-hot .item-post-right-wrapper .item-post-right .item-post-one .img-center-post-hot .title-post-host {
    padding-top: 2rem;
  }
}

.new-wrapper .cover-content_new div.new-category .list-post-hot .item-post-right-wrapper .item-post-right .item-post-one .img-center-post-hot .title-post-host h2 {
  font-family: "VN-KiaSignature-Bold", sans-serif;
}

.new-wrapper .cover-content_new div.new-category .list-post-hot .item-post-right-wrapper .item-post-right .item-post-one .img-center-post-hot .title-post-host a {
  font-family: "VN-KiaSignature-Bold", sans-serif;
  display: block;
  color: #05141F;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.new-wrapper .cover-content_new div.new-category .list-post-hot .item-post-right-wrapper .item-post-right .item-post-one .img-center-post-hot .title-post-host .date-time {
  padding: 2rem 0;
  color: #00000080;
  display: flex;
}

@media only screen and (max-width: 767px) {
  .new-wrapper .cover-content_new div.new-category .list-post-hot .item-post-right-wrapper .item-post-right .item-post-one .img-center-post-hot .title-post-host .date-time {
    padding: 1rem 0;
  }
}

.new-wrapper .cover-content_new div.new-category .list-post-hot .item-post-right-wrapper .item-post-right .item-post-one .img-center-post-hot .title-post-host .date-time .date {
  display: flex;
  align-items: center;
}

.new-wrapper .cover-content_new div.new-category .list-post-hot .item-post-right-wrapper .item-post-right .item-post-one .img-center-post-hot .title-post-host .date-time .date i {
  margin-right: 1rem;
}

.new-wrapper .cover-content_new div.new-category .list-post-hot .item-post-right-wrapper .item-post-right .item-post-one .img-center-post-hot .title-post-host .date-time span {
  display: block;
  margin-right: 2rem;
}

@media only screen and (max-width: 767px) {
  .new-wrapper .cover-content_new div.new-category .list-post-hot .item-post-right-wrapper .item-post-right .item-post-one .img-center-post-hot .title-post-host .date-time span {
    margin: 0;
  }
}

@media only screen and (max-width: 767px) {
  .new-wrapper .cover-content_new div.new-category .list-post-hot .item-post-right-wrapper .item-post-right .item-post-one .img-center-post-hot .title-post-host .date-time {
    justify-content: space-between;
  }
}

.new-wrapper .cover-content_new div.new-category .list-post-hot .item-post-right-wrapper .item-post-right .item-post-one .img-center-post-hot .title-post-host .content {
  font-family: "VN-KiaSignature-Regular", sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

@media only screen and (max-width: 767px) {
  .new-wrapper .cover-content_new div.new-category .list-post-hot .item-post-right-wrapper .item-post-right .item-post-one {
    flex: none;
    max-width: 100%;
    margin: 0;
    overflow: hidden;
    margin-bottom: 3rem;
  }
}

@media only screen and (max-width: 1080px) and (min-width: 768px) {
  .new-wrapper .cover-content_new div.new-category .list-post-hot .item-post-right-wrapper .item-post-right .item-post-one {
    flex: 0 0 57%;
    max-width: 57%;
    margin-right: 2%;
    overflow: hidden;
  }
}

.new-wrapper .cover-content_new div.new-category .list-post-hot .item-post-right-wrapper .item-post-right .item-post-two {
  flex: 0 0 30%;
  max-width: 30%;
}

.new-wrapper .cover-content_new div.new-category .list-post-hot .item-post-right-wrapper .item-post-right .item-post-two .img-right-post-hot {
  margin-bottom: 4rem;
}

@media only screen and (max-width: 767px) {
  .new-wrapper .cover-content_new div.new-category .list-post-hot .item-post-right-wrapper .item-post-right .item-post-two .img-right-post-hot {
    margin-bottom: 3rem;
  }
}

.new-wrapper .cover-content_new div.new-category .list-post-hot .item-post-right-wrapper .item-post-right .item-post-two .img-right-post-hot .img-rigth-post {
  width: 100%;
  height: 0%;
  padding-bottom: 90%;
  overflow: hidden;
  position: relative;
}

.new-wrapper .cover-content_new div.new-category .list-post-hot .item-post-right-wrapper .item-post-right .item-post-two .img-right-post-hot .img-rigth-post a {
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
}

.new-wrapper .cover-content_new div.new-category .list-post-hot .item-post-right-wrapper .item-post-right .item-post-two .img-right-post-hot .img-rigth-post a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.3s, visibility 0.3s ease-in;
}

.new-wrapper .cover-content_new div.new-category .list-post-hot .item-post-right-wrapper .item-post-right .item-post-two .img-right-post-hot .img-rigth-post:hover img {
  transform: scale(1.08);
}

.new-wrapper .cover-content_new div.new-category .list-post-hot .item-post-right-wrapper .item-post-right .item-post-two .img-right-post-hot .title-content-img {
  padding: 2rem 0;
}

@media only screen and (max-width: 767px) {
  .new-wrapper .cover-content_new div.new-category .list-post-hot .item-post-right-wrapper .item-post-right .item-post-two .img-right-post-hot .title-content-img {
    padding: 1rem 0;
  }
}

.new-wrapper .cover-content_new div.new-category .list-post-hot .item-post-right-wrapper .item-post-right .item-post-two .img-right-post-hot .title-content-img a {
  font-family: "VN-KiaSignature-Bold", sans-serif;
  display: block;
  color: #05141F;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.new-wrapper .cover-content_new div.new-category .list-post-hot .item-post-right-wrapper .item-post-right .item-post-two .img-right-post-hot .date-time {
  color: #00000080;
  display: flex;
}

.new-wrapper .cover-content_new div.new-category .list-post-hot .item-post-right-wrapper .item-post-right .item-post-two .img-right-post-hot .date-time .date {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 1080px) and (min-width: 768px) {
  .new-wrapper .cover-content_new div.new-category .list-post-hot .item-post-right-wrapper .item-post-right .item-post-two .img-right-post-hot .date-time .date {
    margin-right: 1rem;
  }
}

.new-wrapper .cover-content_new div.new-category .list-post-hot .item-post-right-wrapper .item-post-right .item-post-two .img-right-post-hot .date-time .date i {
  margin-right: 1rem;
}

.new-wrapper .cover-content_new div.new-category .list-post-hot .item-post-right-wrapper .item-post-right .item-post-two .img-right-post-hot .date-time span {
  display: block;
  margin-right: 2rem;
}

@media only screen and (max-width: 1080px) and (min-width: 768px) {
  .new-wrapper .cover-content_new div.new-category .list-post-hot .item-post-right-wrapper .item-post-right .item-post-two .img-right-post-hot .date-time span {
    margin-right: 0;
  }
}

@media only screen and (max-width: 767px) {
  .new-wrapper .cover-content_new div.new-category .list-post-hot .item-post-right-wrapper .item-post-right .item-post-two .img-right-post-hot .date-time span {
    margin: 0;
  }
}

@media only screen and (max-width: 767px) {
  .new-wrapper .cover-content_new div.new-category .list-post-hot .item-post-right-wrapper .item-post-right .item-post-two .img-right-post-hot .date-time {
    justify-content: space-between;
  }
}

@media only screen and (max-width: 767px) {
  .new-wrapper .cover-content_new div.new-category .list-post-hot .item-post-right-wrapper .item-post-right .item-post-two {
    max-width: 100%;
  }
}

@media only screen and (max-width: 1080px) and (min-width: 768px) {
  .new-wrapper .cover-content_new div.new-category .list-post-hot .item-post-right-wrapper .item-post-right .item-post-two {
    flex: 0 0 41%;
    max-width: 41%;
  }
}

.new-wrapper .cover-content_new div.new-category .display-list-news {
  display: flex;
}

.new-wrapper .cover-content_new div.new-category .display-list-news img {
  max-width: 100%;
  height: 100%;
}

@media only screen and (max-width: 1080px) and (min-width: 768px) {
  .new-wrapper .cover-content_new div.new-category .display-list-news img {
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media only screen and (max-width: 767px) {
  .new-wrapper .cover-content_new div.new-category .display-list-news img {
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media only screen and (max-width: 767px) {
  .new-wrapper .cover-content_new div.new-category .display-list-news {
    flex-direction: column;
  }
}

.new-wrapper .cover-content_new div.new-category .display-list-news .display-list-news-left {
  margin-right: 11%;
  flex: 0 0 66%;
  max-width: 66%;
}

@media only screen and (max-width: 767px) {
  .new-wrapper .cover-content_new div.new-category .display-list-news .display-list-news-left {
    margin: 0;
    max-width: 100%;
  }
}

.new-wrapper .cover-content_new div.new-category .display-list-news .display-list-news-left .item-new-display {
  display: flex;
  padding-bottom: 6rem;
}

.new-wrapper .cover-content_new div.new-category .display-list-news .display-list-news-left .item-new-display .left {
  flex: 0 0 33%;
  max-width: 33%;
  margin-right: 2%;
}

@media only screen and (max-width: 767px) {
  .new-wrapper .cover-content_new div.new-category .display-list-news .display-list-news-left .item-new-display .left {
    max-width: 100%;
    margin-right: 0;
  }
}

.new-wrapper .cover-content_new div.new-category .display-list-news .display-list-news-left .item-new-display .left .img-list-new {
  width: 100%;
  height: 0%;
  padding-bottom: 70%;
  overflow: hidden;
  position: relative;
}

.new-wrapper .cover-content_new div.new-category .display-list-news .display-list-news-left .item-new-display .left .img-list-new a {
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
}

.new-wrapper .cover-content_new div.new-category .display-list-news .display-list-news-left .item-new-display .left .img-list-new a:hover img {
  transform: scale(1.08);
}

.new-wrapper .cover-content_new div.new-category .display-list-news .display-list-news-left .item-new-display .left .img-list-new a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.3s, visibility 0.3s ease-in;
}

.new-wrapper .cover-content_new div.new-category .display-list-news .display-list-news-left .item-new-display .right {
  flex: 1;
}

.new-wrapper .cover-content_new div.new-category .display-list-news .display-list-news-left .item-new-display .right .content-list-new p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  color: #05141F;
  font-family: "VN-KiaSignature-Bold", sans-serif;
  width: 100%;
  margin-top: 2rem;
}

@media only screen and (max-width: 1080px) and (min-width: 768px) {
  .new-wrapper .cover-content_new div.new-category .display-list-news .display-list-news-left .item-new-display .right .content-list-new p {
    margin-top: 0;
  }
}

.new-wrapper .cover-content_new div.new-category .display-list-news .display-list-news-left .item-new-display .right .content-list-new .date-time {
  padding: 1.5rem 0 2rem 0;
  color: #00000080;
}

@media only screen and (max-width: 767px) {
  .new-wrapper .cover-content_new div.new-category .display-list-news .display-list-news-left .item-new-display .right .content-list-new .date-time {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 0;
  }
}

.new-wrapper .cover-content_new div.new-category .display-list-news .display-list-news-left .item-new-display .right .content-list-new .date-time .date {
  margin-right: 2rem;
}

@media only screen and (max-width: 1080px) and (min-width: 768px) {
  .new-wrapper .cover-content_new div.new-category .display-list-news .display-list-news-left .item-new-display .right .content-list-new .date-time .date {
    margin-right: 1rem;
  }
}

.new-wrapper .cover-content_new div.new-category .display-list-news .display-list-news-left .item-new-display .right .content-list-new .content-display p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  width: 100%;
  color: #05141F;
  font-family: "VN-KiaSignature-Regular", sans-serif;
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 767px) {
  .new-wrapper .cover-content_new div.new-category .display-list-news .display-list-news-left .item-new-display {
    padding-bottom: 3rem;
    flex-direction: column;
  }
}

.new-wrapper .cover-content_new div.new-category .display-list-news .display-list-news-right {
  flex: 0 0 23%;
  max-width: 23%;
}

@media only screen and (max-width: 767px) {
  .new-wrapper .cover-content_new div.new-category .display-list-news .display-list-news-right {
    display: none;
  }
}

.new-wrapper .cover-content_new div.new-category .display-list-news .display-list-news-right .display-list-news {
  display: block;
  position: sticky;
  top: 100px;
}

.new-wrapper .cover-content_new div.new-category .display-list-news .display-list-news-right .display-list-news .list-img-new-right {
  padding-bottom: 2rem;
}

.new-wrapper .cover-content_new div.new-category ul.new-category {
  border-bottom: solid 2px #e5e5e5;
}

@media only screen and (max-width: 480px) {
  .new-wrapper .cover-content_new div.new-category ul.new-category {
    border-bottom: solid 0px #e5e5e5;
  }
}

@media only screen and (max-width: 767px) {
  .new-wrapper .cover-content_new div.new-category ul.new-category {
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 767px) {
  .new-wrapper .cover-content_new div.new-category ul.new-category li {
    flex: 0 50%;
    margin-bottom: 0%;
    border-bottom: 1.5px solid darkgray;
  }
}

.new-wrapper .cover-content_new div.new-category .list-new {
  padding-top: 4%;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  margin: 0;
}

@media only screen and (max-width: 991px) {
  .new-wrapper .cover-content_new div.new-category .list-new {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
}

@media only screen and (max-width: 576px) {
  .new-wrapper .cover-content_new div.new-category .list-new {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
  }
}

.new-wrapper .cover-content_new div.new-category .list-new .___news_item {
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
}

.new-wrapper .cover-content_new div.new-category .list-new .___news_item .news-image {
  cursor: pointer;
  overflow: hidden;
}

.new-wrapper .cover-content_new div.new-category .list-new .___news_item .news-image .img {
  height: 0;
  padding-top: calc(3 * 30%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.new-wrapper .cover-content_new div.new-category .slider-hot {
  display: none;
}

.new-wrapper .cover-content_new div.new-category .slider-hot .title-left {
  padding-bottom: 1rem;
  border-bottom: 1px solid #adadad;
  margin: 0 0 2rem 0;
}

.new-wrapper .cover-content_new div.new-category .slider-hot .swiper-hot .img-post-hot .right .date-time {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem;
}

@media only screen and (max-width: 767px) {
  .new-wrapper .cover-content_new div.new-category .slider-hot {
    display: block;
  }
}

.new-wrapper .cover-content_new div.new-category .slider-new {
  display: none;
  margin: 2rem 0;
}

.new-wrapper .cover-content_new div.new-category .slider-new .title-left {
  padding-bottom: 1rem;
  border-bottom: 1px solid #adadad;
  margin: 0 0 2rem 0;
}

.new-wrapper .cover-content_new div.new-category .slider-new .swiper-new .img-post-hot .right .date-time {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem;
}

@media only screen and (max-width: 767px) {
  .new-wrapper .cover-content_new div.new-category .slider-new {
    display: block;
  }
}

