.menu-wrapper {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;

    .left-menu,
    .center-menu,
    .right-menu {
        align-self: center;
        display: flex;
    }

    .left-menu,
    .right-menu {
        flex: 0 46%;
        display: flex;
        align-items: center;
    }

    .center-menu {
        flex: 0 8%;
        display: flex;
        align-items: center;
    }

    ul.menu {
        width: 100%;
        display: flex;

        li.menu-item {
            margin-right: 25px;

            &:last-child {
                margin-right: 0;
            }

            &:hover {
                a {}
            }

            a {
                color: #00095b;
                text-decoration: none;
                font-size: 16px;
                text-align: center;
                display: block;
                margin: 0 auto;
                font-weight: bold;
            }
        }

        li.active {
            a {}
        }
    }

    .left-menu {
        ul.menu {
            justify-content: space-around
        }
    }

    .right-menu {
        ul.menu {
            justify-content: space-around;
        }
    }

    .center-menu {
        ul.logo {
            li.logo {
                width: 68px;
                justify-content: center;
                margin: 0 auto;

                a {
                    position: relative;

                    img {
                        display: block;
                        margin: 0 auto;
                    }

                    img.logo-scroll {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        z-index: 1;
                        opacity: 0;
                        visibility: hidden;
                    }
                }
            }
        }
    }
}

section.menu {
    position: sticky;
    padding: 25px 0;
    top: 0;
    left: 0;
    z-index: 11;
    width: 100%;
    background-color: #fff;

    .center-menu {
        ul.logo {
            li.logo {
                a {
                    img {
                        max-width: 100%;
                    }
                }
            }
        }
    }
}

section.menu.scroll {
    .center-menu {
        ul.logo {
            li.logo {
                a {
                    img {}
                }
            }
        }
    }
}

.menu-mobile.menu {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 13;

    .menu-wrapper {
        .mainmenu {
            width: 100%;

            ul.menu {
                align-items: center;

                li.logo {
                    flex: 1;
                    display: flex;
                    position: relative;
                    justify-content: center;

                    a {
                        margin: unset;
                        text-align: unset;
                        padding-left: 5px;

                        img {
                            height: 16px;
                        }
                    }
                }

                li.no-touch-search.button-search {
                    pointer-events: none;
                }

                li.custom-navbar,
                .button-search {
                    content: '';
                    position: absolute;
                    top: 0;
                    // right: 0;
                    width: 50px;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    pointer-events: unset;
                    z-index: 1;

                    a {
                        display: flex;
                        width: 100%;
                        height: 100%;
                        text-align: center;
                        align-items: center;
                        justify-content: center;

                        i,
                        svg {
                            font-size: 16px;
                        }
                    }
                }

                li.custom-navbar.show,
                li.custom-navbar.turn-off-form {
                    a {
                        span {
                            display: none;
                        }

                        &:before {
                            top: 50%;
                            transform: translate(-50%, 0) rotate(45deg);
                        }

                        &:after {
                            top: 50%;
                            transform: translate(-50%, 0) rotate(-45deg);
                        }
                    }
                }

                li.custom-navbar {
                    background: #fff;

                    a {
                        &:after {
                            content: "";
                            position: absolute;
                            height: 2px;
                            width: 30px;
                            top: 36%;
                            left: 50%;
                            transform: translate(-50%, 0);
                            background: #000;
                        }

                        &:before {
                            content: "";
                            position: absolute;
                            height: 2px;
                            width: 30px;
                            top: 65%;
                            left: 50%;
                            transform: translate(-50%, 0);
                            background: #000;
                        }

                        span {
                            height: 2px;
                            position: absolute;
                            top: 50%;
                            width: 30px;
                            transform: translate(-50%, 0);
                            background: #000;
                            left: 50%;
                        }
                    }
                }

                li.button-search {
                    right: 0;
                }
            }
        }
    }
}

//
.search-wrapper.show-form,
.search-wrapper.show-form-desktop {
    position: fixed;
    padding-bottom: 3px;
    top: 52px;
    height: unset;
    opacity: 1;
    visibility: visible;
    z-index: 10;

    form {
        height: 100%;
        opacity: 1;

        .content {
            height: 100%;
            opacity: 1;

            input.input {
                height: 35px;
                opacity: 1;
            }
        }
    }
}

.search-wrapper {
    position: absolute;
    z-index: 2;
    width: 100%;

    height: 0;
    opacity: 0;
    visibility: hidden;

    form {
        height: 0;
        opacity: 0;

        .content {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 2%;
            position: relative;
            height: 0;
            opacity: 0;

            input.input {
                border-radius: 18px;
                padding: 0 40px 0 20px;
                text-transform: unset;
                font-size: 12px;
                width: 100%;
                height: 0;
                opacity: 0;
            }

            input:focus {}

            span {
                display: flex;
                right: 5%;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                z-index: 1;

                i,
                svg {
                    color: #000;
                    font-size: 16px;
                    margin-right: 18px;
                }
            }
        }

        .content.primary {
            input.input {
                background-color: #fff;


            }

            span {

                i,
                svg {}
            }
        }
    }
}

.search-wrapper.primary {}

.menu-dropdown {
    position: fixed;
    top: 0;
    height: 0;
    width: 100%;
    z-index: 2;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    align-items: center;
    background-color: #fff;
    justify-content: center;
    opacity: 0;

    visibility: hidden;

    .content-menu {
        height: 100%;
        width: 100%;

        .menu {
            height: 100%;
            width: 100%;
            padding-top: 65px !important;

            li {
                text-align: left;
                padding: 10px 15px;
                border-bottom: 1.5px solid lightgray;

                a {
                    font-size: 14px;
                    display: block;

                    &:hover {}
                }
            }
        }
    }
}

.menu-dropdown.primary {}

.menu-dropdown.show {
    opacity: 1;
    visibility: visible;
    height: 100%;
    z-index: 12;
}

li.search-popup-icon {
    position: relative;

    a.show-box-search {
        .search-form-desktop {
            position: absolute;
            top: 25px;
            right: 0;
            border-radius: 10px;
            z-index: 2;
            width: 400px;
            padding: 15px;
            display: block;
            box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
            opacity: 0;
            visibility: hidden;
            border: solid 1px rgba(255, 255, 255, .3);

            // &::before{
            //     position: absolute;
            //     content: '';
            //     width: 100%;
            //     height: 100%;
            //     background-color: red;
            // }
            form {
                .form-search-input {
                    font-size: 14px;

                    label {
                        margin-bottom: 5px;
                        display: block;
                        text-align: left;
                    }

                    .search-input {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        input {
                            flex: 0 70%;
                            max-width: 70%;
                            border-radius: 5px;
                            height: 35px;
                            padding: 0 15px;
                        }

                        .search-submit-button {
                            max-width: 25%;
                            flex: 0 25%;
                            border-radius: 5px;
                            height: 35px;
                            width: 100%;
                            display: block;
                            text-transform: unset;
                        }
                    }
                }
            }
        }

        // &:hover {
        //     .search-form-desktop {
        //         opacity: 1;
        //         visibility: visible;
        //         top: 35px;
        //     }
        // }
    }
}


.camon {
    z-index: 99999999;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(6, 20, 31, 0.8);
    color: #fff;
    max-width: 500px;
    padding: 30px;
    height: 200px;
    animation: slide-upp 0.9s ease-out;

    // display: none;
    @media (max-width: 1024px) {
        width: 70%;
        height: 400px;
    }

    @media (max-width: 480px) {
        width: 90%;
        font-size: 15px;
        height: 300px;
    }

    animation: slide-upp 0.9s ease-out;

    .popup-content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 1111;
        position: relative;

        @media (max-width: 480px) {
            font-size: 15px;
        }
    }

    .close-popup,
    .close-popup-please-select-product {
        position: absolute;
        top: 5px;
        right: 5px;
        font-size: 20px;
        z-index: 1;
    }

    display: none;
}

.active-popup {
    &:after {
        content: '';
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100vw;
        height: 100vh;
        z-index: 0;
        z-index: 111110;
        background-color: rgba(0, 0, 0, 0.5);
    }
}

.active-form {
    opacity: 1 !important;
    visibility: visible !important;
    top: 35px !important;
}

.navbar .navbar-collapse .nav-item{
    font-size: 20px;
}
