@import "mixin.scss";
@import "variable.scss";

.cover-content {
    padding: 50px 0;

    @include maxWidth(991) {
        padding: 3rem 0;
    }
}

.___news_post_content {
    font-size: 16px;
    color: $black;

    @include maxWidth(991) {
        font-size: 14px;
    }

    h1.___title {
        font-family: $KiaSignature-Bold !important;
        font-size: 30px;
    }

    p.__publish_date {
        color: $gray-text;
        font-size: 14px;
    }

    .___post_content {
        margin-top: 20px;
    }

    h1 {
        font-size: 20px;
        font-family: $KiaSignature-Bold !important;
    }

    h2 {
        font-size: 18px;
        font-family: $KiaSignature-Bold !important;
    }

    h3 {
        font-size: 16px;
        font-family: $KiaSignature-Bold !important;
    }

    h4 {
        font-size: 14px;
        font-family: $KiaSignature-Bold !important;
    }

    h5 {
        font-size: 12px;
        font-family: $KiaSignature-Bold !important;
    }

    h6 {
        font-size: 10px;
        font-family: $KiaSignature-Bold !important;
    }

    .___post_content {
        img {
            max-width: 100% !important;
            height: auto;
            display: block;
            margin: 0 auto;
            padding-bottom: 1rem;
        }

        .responsive-iframe {
            position: relative;
            overflow: hidden;
            padding-top: 56.25%;

            iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border: 0;
            }
        }

        p,
        span {
            font-family: $KiaSignature-Regular !important;
            font-size: 16px;
            color: $black;
            line-height: 26px;

            @include maxWidth(1366) {
                font-size: 14px;
            }
        }

        strong {
            color: $black;
        }
    }
}

.related-posts {
    padding-top: 2rem;
    padding-bottom: 3rem;

    .title-detail-post {
        text-align: center;
        font-size: 21px;
        text-transform: uppercase;
        margin: 2rem auto 4rem;

        h3 {
            font-family: $KiaSignature-Bold;
        }
    }

    .post-related-detail {
        display: flex;
        width: 100%;
        justify-content: space-between;

        @include maxWidth(767) {
            display: block;
        }

        .detail-related-articles-wrapper {
            flex: 0 0 32%;
            max-width: 32%;
            border: 1px solid #d5d5d5;

            @include maxWidth(767) {
                flex: 1;
                max-width: 100%;
                margin-bottom: 3rem;
            }

            .card_image-container {
                width: 100%;
                height: 0%;
                padding-bottom: 90%;
                overflow: hidden;
                position: relative;

                .img-detail {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    display: block;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                        transition: transform .3s, visibility .3s ease-in;
                    }
                }

                .img-detail:hover img {
                    transform: scale(1.08);
                }
            }

            .car_content-container {
                padding: 20px;
                color: #000;

                .car-title {
                    text-align: center;
                    padding-bottom: 2rem;
                    border-bottom: 0.1px solid;

                    h2 {
                        font-family: $KiaSignature-Bold;
                        @include split_str(2);
                        font-size: 24px;

                        @include maxWidth(1366) {
                            font-size: 14px;
                        }
                    }
                }

                .car-content {
                    margin-top: 2rem;

                    .content {
                        font-family: $KiaSignature-Regular;
                        @include split_str(3);
                        font-size: 16px;

                        @include maxWidth(1366) {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}
