@import "mixin.scss";
@import "variable.scss";

.contact-wrapper{
  @include maxWidth(991){
      padding-top: 0;
  }
  .__contact_content{
      padding: 30px 0 45px;
      @include maxWidth(1500){
          max-width: 90%;
          margin: 0 auto;
      }
      @include maxWidth(767){
          max-width: 100%;
      }
      @include maxWidth(576){
          padding: 0 0 25px;
      }

      .breakcrum-custom{
          ol.breadcrumb{
              margin-bottom: 0;
          }
      }
  }
}


div._box_contact{
  h1.title-contact{
      @include maxWidth(991){
          font-size: 33px;
          padding-bottom: 3rem;
          padding-top: 3rem;
      }
      @include maxWidth(480){
          font-size: 25px;
          padding-bottom: 2rem;
          padding-top: 2rem;
      }
      @include maxWidth(380){
          font-size: 23px;
          padding-bottom: 1rem;
          padding-top: 1rem;
      }
      text-align: center;
      text-transform: uppercase;
      font-size: 32px;
      padding-bottom: 5rem;
      padding-top: 4rem;
      font-family: $KiaSignature-Bold;
  }
  @include maxWidth(576){
      padding: 20px 0;
  }

}
ul.box-contact{

  @include prefix(display,flex);
  justify-content: space-between;
  max-width: 100%;
  margin: 0 auto;
  @include maxWidth(991){
      max-width: 100%;
  }
  @include maxWidth(576){
      flex-direction: column;
  }
  li.box-item {
      flex: 1;
      text-align: center;
      border-right: solid 2px #d9d9d9;
      padding: 15px 0;
      @include maxWidth(576){
          padding: 0;
          border-right: unset;
          border-bottom: solid 2px #d9d9d9;
          padding: 5px 0;
      }
      &:last-child{
          border: none;
      }
      ul.box-content {
          li.icon{
              @include maxWidth(576){
                  img{
                      max-width: 5%;
                  }
              }
          }
          li.label{
              text-transform: uppercase;
          }
          li.content{
              margin-top: 15px;
              a,span{
                  color: $black-text;
                  font-family: $KiaSignature-Bold;
                  font-size: 16px;
              }
              a{
                  @include maxWidth(576){
                      display: block;
                  }
              }
              @include maxWidth(576){
                  margin-top: 0;
              }
          }
      }
  }
}
.___banner{
  position: relative;
  img{
      filter: brightness(.75);
      @include maxWidth(576){
          min-height: 200px;
          object-fit: cover;
      }
      @include maxWidth(480){
          min-height: 0px;
          object-fit: cover;
      }
  }
  .___pagetitle{
      position: absolute;
      z-index: 1;
      bottom: 30%;
      left:25%;
      color: $white;
      text-shadow: 3px 3px #000000;
      font-family: $KiaSignature-Bold;
      text-transform: unset;
      @include maxWidth(1920){
          left: 60px;
      }
      @include maxWidth(767){
          left: 30px
      }
  }
}
