@import "mixin.scss";

ul {
    padding: 0;
}

section.footer {
    padding: 4rem 0;
    background-color: #00095b;

    a{
        text-decoration: none;
    }

    .footer-logo {
        padding-bottom: 2rem;

        img {
            height: 24.5px
        }
    }

    .footer-content {
        display: flex;
        justify-content: space-between;

        .footer-col {
            align-self: flex-start;

            &:last-child {
                margin-right: 0;
            }
        }

        .col-company,
        .footer-col-info-mb {
            ul.company {
                margin-top: 2rem;

                li.logo {
                    padding: 25px 0;
                    max-width: 68px;
                }

                li.company-info {
                    ul {
                        display: flex;
                        flex-direction: column;
                        line-height: 20px;
                        text-transform: uppercase;

                        li {
                            font-size: 12px;


                            span {
                                color: #fff;
                            }

                            margin-bottom: 10px;

                            &:last-child {
                                margin-bottom: 0;
                            }
                        }

                        li.name {
                            font-size: 16px;

                        }
                    }
                }

                li.bct {
                    padding: 20px 0 30px;
                }

                li.site {
                    display: flex;

                    ul {
                        width: 50%;

                        li {

                            // padding: 0 15px;
                            a {
                                font-size: 14px;
                                display: block;
                            }

                            &:first-child {
                                padding-left: 0;
                            }

                            &:last-child {
                                padding-right: 0;
                            }
                        }
                    }
                }

                li.copyright {
                    margin-top: 10px;
                    font-size: 13px;
                    text-transform: uppercase;
                }
            }

            ul.social {
                display: flex;
                margin-top: 2.5rem !important;
                padding-bottom: 2.5rem;
                border-bottom: 1px solid #fff;
                width: max-content;

                li.social-item {
                    margin-right: 2rem;

                    &:last-child {
                        margin-right: 0;
                    }

                    a {
                        display: block;

                        svg,
                        i {
                            color: #fff;
                            font-size: 2.5rem;
                        }
                    }
                }
            }

            ul.list-link-download {
                li.menu-title {
                    padding: 2.5rem 0;
                    font-size: 16px;
                    color: #fff;
                    padding: 5rem 0 15px;
                }

                .app-download {
                    ul {
                        li.qrcode {
                            margin-right: 2rem;

                            a {
                                display: block;
                            }
                        }

                        li.download {
                            ul {
                                flex-direction: column;
                                justify-content: space-between;
                                height: 100%;

                                li {
                                    flex: 1;
                                    display: flex;

                                    a {
                                        display: block;
                                        border-radius: 5px;
                                        border: solid 1px #6d6d6d;
                                    }

                                    &:first-child {
                                        a {
                                            align-self: flex-start;
                                        }
                                    }

                                    &:last-child {
                                        a {
                                            align-self: flex-end;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            ul.sitemap {
                margin: 2.5rem 0;
                color: #fff;
                display: flex;
                align-items: center;

                .sitemap-item {
                    padding: 0 1.5rem;
                    border-right: 1px solid #fff;

                    a {
                        color: #9EA1A2;
                    }

                    &:hover {
                        a {
                            color: #fff;
                        }

                    }

                    &:first-child {
                        padding-left: 0;
                    }

                    &:last-child {
                        padding-right: 0;
                        border-right: 0;
                    }


                }
            }

            .copyright {
                color: #9EA1A2;
                font-size: 12px;
                text-transform: uppercase;
            }

        }

        .col-company {

            ul.company,
            ul.social,
            ul.list-link-download,
            .copyright {}
        }

        ul.footer-menu {
            li.menu-title {
                font-family: "VN-KiaSignature-Bold", sans-serif;
                text-transform: uppercase;
                font-size: 16px;
                padding: 3.5rem 0 15px;
                color: #fff;
            }

            li.footer-menu-item,
            li.sitemap-item,
            li.menu-item {
                margin-bottom: 15px;
                line-height: 1.5;
                font-size: 14px;

                i {
                    margin-right: 0.5rem;
                }

                &:last-child {
                    margin-bottom: 0;
                }

                a {
                    font-size: 14px;
                    color: #919191;
                }

                &:hover {
                    a {}
                }

                i.fa.fa-phone {
                    transform: rotateY(180deg);
                }
            }

            &.bottom {
                color: #919191;

                //    margin-top: 2.5rem;
                .footer-menu-item {
                    margin-bottom: 15px;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }

                li {
                    cursor: pointer;
                    position: relative;

                    //    bottom: 2px;
                    &:hover {
                        color: #fff !important;
                    }
                }
            }

            &.top {
                padding-bottom: 2.5rem;
                border-bottom: 1px solid #fff;
            }


        }

        .col-company {
            // flex: 0 45%;
        }

        .col-service,
        .col-product,
        .col-about {
            flex: unset;
        }

        .col-product {
            flex: unset;
        }

        .col-contact {}

        .col-service.footer-desktop {
            .footer-menu {
                .menu-item {
                    margin-bottom: 15px;

                    &:last-child {
                        margin-bottom: 0;
                    }

                    a {
                        font-size: 14px;
                    }

                    &:hover {
                        a {}
                    }
                }
            }
        }

        .footer-col-info-mb {

        }
    }

    .footer-menu-item[aria-expanded="true"] {
        color: #fff;

        i.fa-chevron-right {
            transform: rotate(90deg);
            transition: all linear .3s;
        }

    }

    .footer-menu[aria-expanded="true"] {
        .iconnn-mb {
            transform: rotate(180deg);
            transition: all linear .3s;
        }
    }

}

.sodotrang {
    padding-left: 15px;
}

.iconnn {
    position: absolute;
    margin-left: 0.6rem;
    font-size: 11px;
    bottom: 4.1px;
    transition: transform .25s, -webkit-transform .25s;
}

#accordion222,
#accordion222mb {
    .footer-menu-item {
        width: max-content;

        .footer-menu {
            margin-top: 0.5rem;
        }
    }
}

.iconnn-mb {
    position: absolute;
    margin-left: 0.6rem;
    font-size: 12px;
    right: 0rem;
    transition: transform .25s, -webkit-transform .25s;
}


.duongngang {
    border-top: 1px solid rgba(239, 239, 245, 0.1);
    width: 100%;
}

.text-16 {
    font-size: 16px !important;
    color: #919191 !important;
}

.text-footer {
    color: #919191 !important;
}

.term-policy {
    line-height: 46px;
}
