@import "mixin.scss";
@import "variable.scss";

._form_contact {
  padding-top: 60px;
  text-align: center;
  @include maxWidth(576) {
      padding-top: 25px;
  }
  @include maxWidth(480) {
      padding-top: 0px;
  }

}

.___form {
  h3.form-title {
      font-family: $KiaSignature-Bold;
      color: $black-text;
      padding-bottom: 3rem;

  }
  .group-input-custom {
      @include prefix(display, flex);
      justify-content: space-between;
      @include maxWidth(640) {
          flex-direction: column;
      }
      .label {
          flex: 0 15%;
          align-self: center;
          text-align: left;
          font-size: 14px;
          font-weight: bold;
          @include maxWidth(767) {
              font-size: 14px;
          }
          @include maxWidth(640) {
              flex: 1;
              align-self: flex-start;
              margin-bottom: 10px;
              width: 100%;
          }
          span {
              text-transform: capitalize;
              display: block;
              @include maxWidth(576) {
                  display: inline-block;
              }
          }
      }
      .input-custom {
          flex: 0 85%;
          align-self: center;
          text-align: left;
          display: flex;
          position: relative;
          @include maxWidth(640) {
              flex: 1;
              width: 100%;
              align-self: flex-start;
          }
          label {
              text-transform: uppercase;
              font-size: 14px;
              @include maxWidth(576) {
                  font-size: 14px;
                  padding-left: 3em;

              }
          }
      }
      .fix-select-css{
          select{
              font-family: $KiaSignature-Bold;
              width: 100%;
              height: 50px;
              border: solid 1px #bababa;
              font-size: 14px;
              padding: 0 20px;
              flex: 1;
              background: rgba(5, 20, 31, 0.03);
              // color: #777;
          }
      }
  }
  .form-action {
      margin-top: 50px;
      padding-bottom: 5rem;
      @include maxWidth(320){
          padding-bottom: 1rem;
      }
      @include maxWidth(480){
          padding-bottom: 2rem;
      }
      @include maxWidth(576) {
          margin-top: 0;
      }
      @include maxWidth(991) {
          margin-top: 20px;
          padding-bottom: 0rem;
      }
  }
}

.nice-select {
  float: none;
  border: solid 1px #bababa;
  border-radius:unset;
  font-family: $KiaSignature-Bold;
  width: 100%;
  height: 50px;
  border: solid 1px #bababa;
  font-size: 14px;
  padding: 0 20px;
  flex: 1;
  background: rgba(5, 20, 31, 0.03);
  &:focus {
      border: solid 1px #bababa;
  }
  &:after {
      right: 7px;
      width: 7px;
      height: 7px;
      border-color: #777;
      font-family: $UTMBanqueBold;
      @include maxWidth(375) {
          right: 7px;
      }
  }
  @include maxWidth(767) {
      font-size: 14px;
  }
  span.current {
      overflow-x: hidden;
      text-overflow: ellipsis;
      width: 100%;
      justify-content: flex-start;
      display: block;
      align-items: center;
      height: 50px;
      display: flex;
      font-size: 14px;
      font-family: $KiaSignature-Bold;
  }
  ul.list {
      li.option {
          overflow-x: hidden;
          text-overflow: ellipsis;
          width: 100%;
          display: block;
          font-size: 14px;
          font-family: $KiaSignature-Bold;
          @include maxWidth(576) {
              font-size: 14px;
          }
      }
  }
}

input {
  width: 100%;
  height: 50px;
  border: solid 1px #bababa;
  font-size: 14px;
  text-transform: none;
  background: rgba(5, 20, 31, 0.03);
  padding: 0 20px;
  flex: 1;
  &:focus {
      border: solid 1px #bababa;
  }
  @include maxWidth(767) {
      font-size: 14px;
  }
}
.modal_register_drive{
  input{
      height: unset;
  }
}

textarea {
  border: solid 1px #bababa;
  font-size: 14px;
  text-transform: uppercase;
  background: rgba(5, 20, 31, 0.03);
  padding: 20px;
  width: 100%;
  height: 210px;
  &:focus {
      border: solid 1px #bababa;
  }
  @include maxWidth(767) {
      font-size: 14px;
  }
}

.ct_form {
  max-width: 74%;
  margin: 0 auto;
  @include maxWidth(767) {
      max-width: 100%;
  }
  .group-input-custom {
      .label .content-contact{
          margin-top: -9.5rem;
      }
      .input-custom {
          label{
              text-transform: inherit;
              font-size: 14px;
          }
          padding-bottom: 15px;
          justify-content: space-between;
          flex-wrap: nowrap;
          .input {
              flex: 0 48%;
          }
          .list {
              max-height: 350px;
              overflow-y: auto;
          }
          .full-width {
            max-width: 100%;
            flex: 0 0 100%;
        }
          .textarea {
              max-width: 100%;
              flex: 0 0 100%;
          }
      }
  }
}
