@mixin minWidth($breakpoint) {
  @media only screen and (min-width: $breakpoint + "px") {
    @content;
  }
}

@mixin maxWidth($breakpoint) {
  @media only screen and (max-width: $breakpoint + "px") {
    @content;
  }
}

@mixin maxHeight($breakpoint){
    @media only screen and (max-height: $breakpoint + "px") {
        @content;
    }
}

@mixin transition($parameters...) {
  -webkit-transition: $parameters;
  -moz-transition: $parameters;
  -ms-transition: $parameters;
  transition: $parameters;
}

@mixin prefix($property, $value, $vendors: webkit moz ms o, $default: true) {
  @if $vendors {
    @each $vendor in $vendors {
      #{"-" + $vendor + "-" + $property}: #{$value};
    }
  }
  @if $default {
    #{$property}: #{$value};
  }
}

@mixin split_str($line_number) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $line_number;
}

@mixin responsive($max, $min) {
  @media only screen and (max-width: $max + "px") and (min-width: $min + "px") {
    @content;
  }
}
