@import "mixin.scss";
@import "variable.scss";

// div.paginate-main {
//     padding-bottom: 5%;

//     ul.pagination {
//         display: flex;
//         flex-direction: row;
//         max-width: 60%;
//         align-items: center;
//         width: 100%;

//         @media screen and (max-width: 991px) {
//             justify-content: center;
//             max-width: 100%;
//         }

//         li.page-item {
//             color: #7f7f7f;
//             border: none;
//             margin-right: 25px;

//             &:last-child {
//                 margin-right: 0;
//             }

//             @include maxWidth(767) {
//                 margin: 0 10px;
//             }

//             a {
//                 color: #7f7f7f;
//                 border: none;
//                 display: flex;
//                 width: 35px;
//                 height: 35px;
//                 align-items: center;
//                 font-size: 15px;
//                 justify-content: center;

//                 i,
//                 svg {
//                     font-size: 20px;
//                 }

//                 &:hover {
//                     border-radius: 50%;
//                     background-color: $red;
//                     font-family: $KiaSignature-Bold;
//                     color: $white;
//                 }

//                 @include maxWidth(767) {
//                     font-size: 12px;
//                     width: 25px;
//                     height: 25px;
//                 }
//             }

//             span {
//                 border: none;
//                 display: flex;
//                 font-size: 15px;
//                 width: 35px;
//                 height: 35px;
//                 border-radius: 50%;
//                 justify-content: center;
//                 align-items: center;
//                 @include transition(all linear 0.3s);

//                 i,
//                 svg {
//                     font-size: 20px;
//                 }

//                 @include maxWidth(767) {
//                     font-size: 12px;
//                     width: 25px;
//                     height: 25px;
//                 }
//             }
//         }

//         li.page-item.active {
//             span {
//                 border-radius: 50%;
//                 background-color: $red;
//                 font-family: $KiaSignature-Bold;
//                 color: $white;
//             }
//         }
//     }
// }


// pagination new
div.pagination-main-new {
  padding-bottom: 5%;

  ul.pagination {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      justify-content: center;

      @media screen and (max-width: 991px) {

          max-width: 100%;
      }

      .previ {
          color: #05141f;
          border: none;
          display: flex;
          width: 35px;
          height: 35px;
          align-items: center;
          font-size: 15px;
          justify-content: center;
          line-height: 1;

          i,
          svg {
              font-size: 16px;
          }
      }

      .previ:hover {
          border-radius: 50%;
          background-color: $primary_color;

          color: #fff;
      }

      li.prev {
          margin-right: 25px;
      }

      li.page-item {
          color: #7f7f7f;
          border: none;
          margin-right: 15px;

          &:last-child {
              margin-right: 0;
          }

          @include maxWidth(767) {
              margin: 0 10px;
          }

          @include maxWidth(480) {
              margin: 0 5px;
          }

          a {
              color: #7f7f7f;
              border: none;
              display: flex;
              width: 35px;
              height: 35px;
              align-items: center;
              font-size: 15px;
              justify-content: center;
              line-height: 1;

              i,
              svg {
                  font-size: 16px;
              }

              &:hover {
                  border-radius: 50%;
                  background-color: $primary_color;
                  font-family: $KiaSignature-Bold;
                  color: $white;

                  i {
                      color: #fff;
                  }
              }

              @include maxWidth(767) {
                  font-size: 12px;
                  width: 25px;
                  height: 25px;
              }
          }

          span {
              border: none;
              display: flex;
              font-size: 15px;
              width: 35px;
              height: 35px;
              border-radius: 50%;
              justify-content: center;
              align-items: center;
              @include transition(all linear 0.3s);
              line-height: 1;

              i,
              svg {
                  font-size: 16px;
                  color: $primary_color;

              }

              @include maxWidth(767) {
                  font-size: 12px;
                  width: 25px;
                  height: 25px;
              }
          }
      }

      li.page-item.active {
          span {
              border-radius: 50%;
              background-color: #05141f;
              font-family: $KiaSignature-Bold;
              color: $white;
          }
      }
  }
}

// end pagination new
