@import "mixin.scss";
@import "variable.scss";

.___page_product {
    section.menu.menu-top {
        position: unset;
        top: unset;
        left: unset;
    }

    section.product-wrapper {
        padding-top: 0;

        div.product-menu-custom {
            position: sticky;
            top: 0;
            left: 0;

            @include maxWidth(991) {
                top: 46px;
            }

            width: 100%;
            z-index: 5;
            background-color: $white;
            border-bottom: solid 1px $borderColor;
        }
    }
}

.product-content-new {
    .product-content {
        .dong {
            width: 100%;
            margin-bottom: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 2px $black solid;

            span {
                padding: 1rem;
                font-size: 20px;
                font-weight: bold;
            }
        }

        .page-product-car form {
            padding-top: 2rem;
            display: flex;
            padding-bottom: 2rem;

            @include maxWidth(991) {
                display: block;
                padding-top: 3rem;
                padding-bottom: 1rem;
            }

            @include maxWidth(768) {
                display: block;
            }

        }

        .list-category-car {
            flex: 0 0 30%;
            max-width: 30%;

            @include maxWidth(991) {
                padding: 2rem 0;
                flex: 1;
                max-width: 100%;
            }

            @include maxWidth(768) {
                padding-bottom: 3rem;
            }

            @include maxWidth(480) {
                padding-bottom: 2rem;
                max-width: 100%;
                margin-left: 0;
            }

            .accordion {
                border-radius: 0;
                width: 100%;
                position: sticky;
                top: 77px;

                @include maxWidth(1680) {
                    top: 69px;
                }

                .title {
                    span {
                        padding-left: 3rem;
                        color: #000000e0;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        position: relative;

                        &::before {
                            position: absolute;
                            content: "";
                            background-color: #05141F;
                            width: 10px;
                            height: 10px;
                            border-radius: 50%;
                            left: 0;
                            top: 22%;
                        }
                    }

                    padding: 2rem;
                    background: #05141f08;
                }

                .title.active {
                    i {
                        transform: rotate(180deg);
                        transition: transform 0.3s ease-in-out;
                    }
                }

                .content {
                    padding: 1.5rem 1.5rem 0.3rem 1.5rem;

                    .fields {
                        margin-left: 3rem;

                        .field {

                            .checkbox {
                                .form-group {
                                    display: block;
                                    margin-bottom: 15px;
                                    line-height: 1.6;
                                }

                                input {
                                    padding: 0;
                                    height: initial;
                                    width: initial;
                                    margin-bottom: 0;
                                    display: none;
                                    cursor: pointer;
                                }

                                input:checked+label:after {
                                    content: "✓ ";
                                    position: absolute;
                                    top: 0.3em;
                                    left: 3.5px;
                                    font-size: 1.8rem;
                                    line-height: 0.8;
                                    color: $primary_color;
                                    transition: all 0.2s;
                                    -webkit-transition: all 0.2s ease;
                                    transition: all 0.2s ease;
                                }

                                label {
                                    font-size: 14px;
                                    line-height: 1.5;
                                    position: relative;
                                    cursor: pointer;

                                    @include maxWidth(991) {
                                        font-size: 14px;
                                    }

                                    &::before {
                                        content: '';
                                        -webkit-appearance: none;
                                        background-color: transparent;
                                        border: 2px solid (5, 20, 31, 0.03);
                                        padding: 10px;
                                        display: inline-block;
                                        position: relative;
                                        vertical-align: middle;
                                        cursor: pointer;
                                        margin-right: 5px;
                                        left: 0;
                                        position: absolute;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .list-product-car {
            display: flex;
            // gap: 4%;
            flex-wrap: wrap;

            @include maxWidth(991) {
                flex: 1;
                max-width: 100%;
                margin-left: 0;
            }

            @include maxWidth(480) {
                display: block;


            }

            .product-item {
                margin-bottom: 4%;
                background: #05141f08;
                border: 1px solid #22242626;


                &:nth-child(2n) {
                    margin-left: 4%;
                }

                @include maxWidth(480) {
                    max-width: 100%;
                    margin-bottom: 2.5rem;

                    &:nth-child(2n) {
                        margin-left: 0;
                    }
                }

                .title-car {
                    @include maxWidth(1444) {
                        display: block;

                    }

                    .title-left {

                        @include maxWidth(1080) {
                            p {
                                padding-top: 1rem;

                            }
                        }

                        @include maxWidth(320) {
                            p {
                                font-size: 10px;
                            }
                        }
                    }

                    @include maxWidth(1080) {
                        display: block;
                    }

                    @include maxWidth(991) {
                        margin: 2rem 0rem 0 1rem;
                    }

                    @include maxWidth(480) {
                        display: block;
                        margin: 2rem 0rem 0 1rem;

                    }

                    .title-left {

                        width: 100%;
                        padding-bottom: 1rem;

                        @include maxWidth(1444) {
                            flex: 0 0 100%;
                            max-width: 100%;
                            margin-right: 0;
                        }

                        @include maxWidth(1080) {
                            display: block;
                            padding-bottom: 1rem;
                        }

                        p {

                            color: #00000080;
                        }

                        @include maxWidth(480) {
                            display: block;

                            p {
                                padding-top: 0;
                                margin-left: 0rem;
                                font-size: 10px;
                            }
                        }

                        h2 {}


                    }

                    .title-right {
                        display: flex;
                        max-width: 100%;
                        border: 1px solid $primary_color;

                        @include maxWidth(991) {

                            margin-right: 1rem;
                            margin-bottom: 1rem;
                        }

                        .item {
                            flex: 0 0 33.33%;
                            max-width: 33.33%;
                            position: relative;

                            &:first-child {
                                a {
                                    &::before {
                                        display: none;
                                    }
                                }

                            }

                            a {
                                width: 100%;
                                background-color: #fff;
                                color: $primary_color;
                                padding: 0.75rem 1rem;
                                display: block;
                                text-align: center;
                                transition: 0.3s ease-in-out;
                                position: relative;

                                @include maxWidth(1130) {

                                    padding: 0.75rem 5px;
                                    font-size: 11px;
                                }

                                @include maxWidth(576) {

                                    padding: 0.75rem 0px;
                                    font-size: 10px;
                                }

                                &::before {
                                    position: absolute;
                                    content: "";
                                    background-color: #05141F;
                                    width: 1px;
                                    height: 70%;
                                    top: 15%;
                                    left: 0px;

                                }

                                &:hover {
                                    background-color: $primary_color;
                                    color: #fff;

                                }
                            }


                            p {
                                margin: 0;

                                @include maxWidth(400) {
                                    font-size: 10px;
                                }
                            }
                        }

                        .brochure-product-download {
                            flex: 1;
                            max-width: 100%;

                            a {
                                background-color: #05141F;
                                color: #fff;

                                &:hover {
                                    background-color: #fff;
                                    color: #05141F;

                                }
                            }
                        }

                    }

                    .hybrid {
                        border: 1px solid #05141F;
                        width: max-content;

                        @include maxWidth(991) {
                            margin-right: 1rem;
                            margin-bottom: 1rem;
                        }

                        a {
                            width: 100%;
                            background-color: #fff;
                            color: $primary_color;
                            padding: 0.75rem 2rem;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            transition: 0.3s ease-in-out;
                            position: relative;

                            i {
                                margin-left: 0.5rem;
                            }

                            &:hover {
                                background-color: $primary_color;
                                color: #fff;

                            }
                        }
                    }

                    justify-content: space-between;
                    margin: 2rem 1rem;
                    display: block;
                }

                .title-car.hybrid {
                    padding-bottom: 2rem;
                    margin-bottom: 0;
                    border-bottom: 1px solid #e5e5e5;
                }


                .parameter-car {
                    border-bottom: 1px solid #E5E5E5;
                    margin: 0 1rem;
                    padding: 1rem 0;

                    h2 {}
                }

                .price-car {
                    border-bottom: 1px solid #E5E5E5;
                    padding-bottom: 5px;
                    margin: 0 1rem;
                    color: #e63312;
                }

                .image-car {
                    overflow: hidden;
                    padding: 1.5rem 0;

                    a {

                        display: block;
                        position: relative;
                        cursor: pointer;
                        max-width: 70%;
                        margin: 0 auto;

                        &::before {
                            content: "";
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            z-index: 2;
                            width: 0;
                            height: 0;
                            background: #ffffff33;
                            border-radius: 100%;
                            opacity: 0;

                        }

                        &:hover {
                            &::before {
                                animation: circle .75s;

                            }
                        }
                    }

                }
            }



        }
    }
}


.___product {
    @include maxWidth(480) {
        text-align: center;
        margin-bottom: 30px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    div.image {
        a {
            display: block;
            position: relative;
            cursor: pointer;

            &:before {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 2;
                width: 0;
                height: 0;
                background: #ffffff33;
                border-radius: 100%;
                opacity: 0;
            }

            &:hover {
                &:before {
                    animation: circle .75s;
                }
            }
        }
    }

    @keyframes circle {
        0% {
            opacity: 1;
        }

        40% {
            opacity: 1;
        }

        100% {
            width: 200%;
            height: 200%;
            opacity: 0;
        }
    }

    h3.name,
    h3.price {
        color: $black-text;
    }

    p.slogan {
        padding-top: 5px;
        color: #aeaeae;
        text-transform: uppercase;
    }

    h3.price-old {
        color: #999;
    }


    h3.price {
        padding: 5px 0;
    }

    .properties {
        ul {
            @include prefix(display, flex);

            @include maxWidth(480) {
                justify-content: center;
            }

            li {
                margin-right: 20px;

                &:last-child {
                    margin-right: 0;
                }

                @include maxWidth(991) {
                    margin-right: 10px;
                }

                a {
                    color: #aeaeae;
                }
            }
        }
    }

    .viewmore {
        padding-top: 5px;
        display: flex;

        @include maxWidth(480) {
            justify-content: center;
        }

        a {
            display: flex;
            color: $black-text;
            align-items: center;

            i,
            svg {
                font-size: 10px;
                margin-left: 5px;
                margin-bottom: 1px;
                @include transition(all linear 0.3s);
            }

            &:nth-child(2) {
                margin: 0px 15px;
            }

            &:hover {

                i,
                svg {
                    @include transition(all linear 0.3s);
                    transform: translateX(5px);
                }
            }
        }

        a:hover {
            color: $red;
        }
    }
}

.product-wrapper {
    .product-content {
        padding: 0 0 50px;
        max-width: 90%;
        margin: 0 auto;

        @include maxWidth(767) {
            max-width: 100%;
            padding-bottom: 3rem;
        }

        .pagination-main-new {
            padding-bottom: 0;
        }
    }
}

div.tab-content-main {
    border-bottom: solid 2px #e5e5e5;

    ul.tab-content-main {
        @include prefix(display, flex);
        justify-content: space-evenly;
        flex-wrap: wrap;

        li.menu-item {
            padding: 2rem 1.5rem 2rem 1.5rem;
            text-align: center;
            text-transform: unset;

            @include maxWidth(480) {
                padding: 10px 0;
                width: 50%;
            }

            &:hover {
                a {
                    opacity: 1;

                }
            }

            a {
                display: block;
                color: $primary_color;
                opacity: 0.5;
                font-size: 16px;
                text-transform: unset;

                @include maxWidth(380) {
                    font-size: 13px;
                }

            }
        }

        li.active {
            a {
                opacity: 1;
            }
        }
    }
}

.breakcrum-custom {
    ol.breadcrumb {
        background: unset;
        margin-bottom: 30px;
        padding-left: 0;
        padding-right: 0;

        li.breadcrumb-item {
            font-size: 12px;

            @include maxWidth(767) {
                font-size: 10px;
            }

            a {
                text-transform: uppercase;
                color: $black-text;
            }
        }

        li.breadcrumb-item.active {
            text-transform: uppercase;
            color: $black-text;
        }

        .breadcrumb-item+.breadcrumb-item::before {
            content: '>';
        }
    }
}




.product-breakcrum {
    max-width: 90%;
    margin: 0 auto;

    @include maxWidth(767) {
        max-width: 100%;
    }
}

.product-menu-custom {
    ul.product-menu {
        max-width: 90%;
        margin: 0 auto;

        li.active {}

        @include maxWidth(767) {
            max-width: 100%;
        }
    }
}

.hover-detail {
    position: relative;

    &:after {
        content: "";
        position: absolute;
        background-color: $red;
        width: 0;
        height: 1.3px;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        transition: all linear 0.3s;
    }

    &:hover {
        &:after {
            width: 100%;
        }
    }
}

.empty-message {
    display: flex;
    margin: 0 auto;
    justify-content: center;

    h4 {
        align-items: center;
        color: $primary_color;
        display: flex;
    }
}
