@import "mixin.scss";
@import "variable.scss";

.swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 100%;
    background: #000;
    opacity: .2;
}

@keyframes MoveUpDown {

    0%,
    100% {
        bottom: -40px;
    }

    50% {
        bottom: -20px;
    }
}

@keyframes MoveDownUp {

    0%,
    100% {
        top: -40px;
    }

    50% {
        top: -20px;
    }
}

.___lrcontent {
    .___content_left {
        position: relative;

        div.see-specs {
            text-align: right;

            @include maxWidth(991) {
                padding-bottom: 0;
            }

            a {
                color: unset;
            }
        }

        div.button {
            a {
                padding: 1.5rem 4rem;

                @include maxWidth(767) {
                    padding: 1rem 2rem;
                }
            }

            .button-register {
                margin: 2rem 0;
            }

            .no-background {
                background-color: #E6E7E9;
                border: 1.5px solid #E6E7E9;

                &:hover {
                    color: $primary_color;
                    border: 1.5px solid $primary_color;
                }
            }
        }
    }

    .___content_right {
        border-left: solid 0.5px $borderColor;

        .tab-choose-car {
            .content-list {

                div.list {
                    @include maxWidth(991) {
                        max-width: 100%;
                        text-align: center;
                    }

                    .choose-model {
                        position: relative;
                    }

                    img {
                        @include maxWidth(991) {
                            max-width: 50%;
                        }

                        @include maxWidth(480) {
                            max-width: 60%;
                        }
                    }

                    h1 {
                        padding: 10% 0;
                    }

                    label.price-car {
                        position: relative;
                        cursor: pointer;
                        display: block;
                        padding-bottom: 15px;
                        margin-bottom: 15px;
                        padding-left: 0;

                        @include maxWidth(991) {
                            padding-bottom: 7px;
                            margin-bottom: 7px;
                        }

                        &:before {
                            content: unset;
                        }

                        &:after {
                            content: '';
                            position: absolute;
                            bottom: 0;
                            top: unset;
                            left: 0;
                            width: 0;
                            height: 2px;
                            background-color: $red;
                            display: block;
                            transform: unset;
                            opacity: 1;
                            @include transition(all linear .3s);
                        }

                        &:hover {
                            &:after {
                                width: 100%;
                                @include transition(all linear .3s);
                            }
                        }

                        h2 {
                            text-transform: uppercase;
                            color: $black-text;
                            font-size: 14px;

                            @include maxWidth(991) {
                                font-size: 12px;
                            }
                        }

                        span.price {
                            color: $red;
                            font-size: 12px;
                            text-transform: uppercase;

                            @include maxWidth(991) {
                                font-size: 10px;
                            }
                        }
                    }

                    input {
                        position: absolute;
                        width: 0;
                        height: 0;
                        opacity: 0;
                        padding: 0;
                        cursor: pointer;
                        left: 0;
                        z-index: -10;
                        visibility: hidden;
                    }

                    input[type="radio"]:checked+label.price-car::after {
                        width: 100%;
                        @include transition(all linear .3s);
                    }
                }
            }
        }
    }
}

.___estimate__content {
    @include maxWidth(991) {
        flex-direction: column;

        .___content_left {
            max-width: 100%;
            flex: 1;
            border: none;
        }

        .___content_right {
            max-width: 100%;
            flex: 1;
            border: none;

            .___car_list {
                max-height: unset;
                overflow-y: unset;
            }
        }
    }
}

.___car_list {
    padding: 15px 0;

    .swiper-container {
        height: 100%;
        max-height: 670px;

        @include maxWidth(1440) {
            max-height: 620px;
        }

        @include maxWidth(1366) {
            max-height: 590px;
        }

        @include maxWidth(1080) {
            max-height: 520px;
        }

        @include maxWidth(767) {
            max-height: unset;
        }
    }

    .___car {
        position: relative;
        margin-bottom: 50px;

        @include maxWidth(991) {
            margin-bottom: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }

        input[type="radio"] {
            opacity: 0;
            visibility: hidden;
            position: absolute;
            z-index: -10;
        }

        label.car-item {
            padding-left: 0;
            height: 100%;

            &:after {
                content: unset;
            }

            &:before {
                content: unset;
            }

            span.image {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                max-width: 40%;
                margin: 0 auto;
                padding-bottom: 5px;
                font-size: 12px;
                color: $black-text;
                text-transform: uppercase;
                position: relative;

                &:after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 0;
                    height: 2px;
                    background-color: $red;
                    display: block;
                    @include transition(all linear .3s);
                }

                div.content-price {
                    .price-car {
                        padding-bottom: 35px;
                    }
                }

                img {
                    margin: 0 auto;
                    display: block;
                    max-width: 100%;
                    @include transition(all linear .3s);

                    @include maxWidth(991) {
                        max-width: 100%;
                    }
                }

                &:hover {
                    &:after {
                        width: 100%;
                        @include transition(all linear .3s);
                    }

                    img {
                        max-width: 100%;
                        @include transition(all linear .3s);
                    }
                }
            }
        }
    }
}

.tab-choose-car {
    margin: 3rem 5rem;

    @include maxWidth(767) {
        margin: 0 0 3rem 0;
    }

    .___car_list-new {
        width: 100%;
        height: 100%;

        .select_car_detail {
            width: 100%;
            height: 100%;
            padding: 40px 0;

            .swiper-wrapper {
                height: 100%;
                width: 100%;

                .list {
                    i.scroll-down-car {
                        transition: all 0.5s ease-in-out;
                        position: absolute;
                        right: 25%;
                        bottom: 0;
                        cursor: pointer;
                        animation: MoveUpDown 1.5s linear infinite;
                        font-size: 1.8rem;
                    }

                    i.scroll-up-car {
                        transition: all 0.5s ease-in-out;
                        position: absolute;
                        top: 0;
                        right: 25%;
                        cursor: pointer;
                        opacity: 0;
                        visibility: hidden;
                        animation: MoveDownUp 1.5s linear infinite;
                        font-size: 1.8rem;
                    }

                    .scroll-down-car.hidden,
                    .scroll-up-car.hidden {
                        opacity: 0 !important;
                        visibility: hidden !important;
                    }

                    .scroll-down-car.show,
                    .scroll-up-car.show {
                        opacity: 1 !important;
                        visibility: visible !important;
                    }

                    @include maxWidth(940) {
                        flex-direction: column;

                        i.scroll-down-car {
                            right: 48%;
                        }

                        i.scroll-up-car {
                            right: 48%;
                        }
                    }

                    .list-info-car {
                        flex: 0 0 45%;

                        h1 {
                            text-align: center;
                            margin-top: 1rem;
                        }
                    }

                    .list-choose-model {
                        margin-left: 1.5rem;
                        padding-right: 1rem;
                        max-height: 200px;
                        height: 200px;
                        overflow-y: auto;
                        overflow-x: hidden;
                        position: relative;
                        top: 0;

                        .choose-model {
                            padding: 1.5rem 0 0.5rem 0;
                            position: relative;

                            &::after {
                                content: "";
                                position: absolute;
                                background-color: #05141F;
                                width: 100%;
                                height: 1px;
                                bottom: -2px;
                                left: 0;

                            }

                            &:last-child {
                                &::after {
                                    width: 0;
                                    height: 0;
                                }
                            }
                        }


                        flex: 1;

                        .price-car {
                            padding-left: 0;
                            margin-left: 0;

                            h2 {
                                color: $primary_color;
                                font-size: 14px;
                            }

                            span {
                                color: $primary_color;
                            }

                            &::after {
                                display: none;
                            }

                            &::before {
                                display: none;
                            }
                        }

                        .price-car.active {
                            h2 {
                                color: red;
                            }

                            span.price {
                                color: red;
                            }
                        }

                        &::-webkit-scrollbar {
                            width: 2px;
                            height: 2px;
                        }

                        &::-webkit-scrollbar-button {
                            width: 0px;
                            height: 0px;
                        }

                        &::-webkit-scrollbar-thumb {
                            background: #939393;
                            border: 0px none #ffffff;
                            border-radius: 25px;
                        }

                        &::-webkit-scrollbar-thumb:hover {
                            background: #ffffff;
                        }

                        &::-webkit-scrollbar-thumb:active {
                            background: #000000;
                        }

                        &::-webkit-scrollbar-track {
                            background: #ffffff;
                            border: 0px none #ffffff;
                            border-radius: 36px;
                        }

                        &::-webkit-scrollbar-track:hover {
                            background: #ffffff;
                        }

                        &::-webkit-scrollbar-track:active {
                            background: #ffffff;
                        }

                        &::-webkit-scrollbar-corner {
                            background: transparent;
                        }
                    }

                    .list-choose-model::-webkit-scrollbar {
                        display: none;
                    }
                }
            }
        }
    }
}


.___flex_menu {
    padding: 10px;

    .nav {
        border: none;
        border-radius: 10px;
        padding: 5px 0;
        justify-content: center;

        a {
            padding: 0;
            margin-right: 3rem;
            position: relative;
            flex: unset;
            margin-bottom: 1rem;

            &::after {
                content: "";
                position: absolute;
                background-color: #05141F;
                width: 0;
                height: 3px;
                bottom: -2px;
                left: 50%;
                transform: translateX(-50%);
                transition: all linear 0.3s;
            }



            span {
                font-size: 14px;
                color: #05141f66;
                margin: 0;
            }

            &:hover {
                border: 1px solid transparent;

                span {

                    color: $primary_color;
                }
            }
        }

        a.active {
            border: 1px solid transparent;

            &::after {
                width: 100%;
            }

            color: $primary_color;
            background-color: unset;

            span {
                color: $primary_color;
                border-radius: 30px;
                @include transition(all linear .1s);
            }
        }

    }
}

div.highlight_function {
    max-width: 85%;
    margin: 0 auto;

    @include maxWidth(1200) {
        max-width: 100%;
    }

    .highlight {
        align-items: flex-end;

        .item {
            padding: 0 40px;
            border-right: solid 1px $borderColor;

            @include maxWidth(767) {
                padding: 0 15px;
            }

            &:first-child {
                padding-left: 0;
            }

            &:last-child {
                padding-right: 0;
                margin-right: 0;
                border-right: none;
            }

            a {
                display: flex;
                flex-direction: column;
                justify-content: center;

                img {
                    display: block;
                    margin: 0 auto;
                }

                span {
                    margin-top: 5px;
                    color: $black-text;
                    font-size: 10px;
                    text-transform: uppercase;
                    text-align: center;

                    @include maxWidth(576) {
                        text-align: center;
                    }
                }
            }
        }
    }
}

.___content_left {
    padding: 40px;

    @include maxWidth(767) {
        padding: 15px 0;
    }

    .slide-wrapper {
        display: flex;

        @include maxWidth(767) {
            display: block;
        }

        .button {
            width: max-content;
            position: absolute;

            @include maxWidth(767) {
                display: flex;
                position: unset;
                flex-direction: row;
                justify-content: space-evenly;
                align-items: center;
                width: 100%;
            }
        }
    }

    .___select_car_container {
        flex: 1;
        height: 100%;
        padding-bottom: 70px;

        .highlight {
            height: 100%;

            .swiper-slide {
                display: flex;
                align-items: center;

                h1 {
                    color: $red;
                    margin-left: 22rem;

                    @include maxWidth(1380) {
                        margin-left: 18rem;
                    }

                    @include maxWidth(1080) {
                        margin-left: 14rem;
                        font-size: 20px;
                    }

                    @include maxWidth(950) {
                        margin-left: 10rem;
                    }

                    @include maxWidth(767) {
                        margin-left: unset;
                        text-align: center;
                    }
                }

                img {

                    @include maxWidth(767) {
                        max-width: 100%;
                    }
                }
            }
        }
    }

    .car-image {
        img {
            display: block;
            margin: 0 auto;
            padding-bottom: 40px;
        }
    }
}

.___estimate_wrapper {

    // padding-top: 72px;
    @include maxWidth(767) {
        padding-top: 10px;
    }
}

.___estimate_wrapper {
    .___estimate_breadcrum {
        ol.breadcrumb {
            @include maxWidth(767) {
                margin-bottom: 10px;
            }
        }
    }

    .___estimate_menu {

        ul {
            li {
                a {
                    text-transform: unset !important;
                    opacity: 0.5;
                }
            }

            li.active {
                a {
                    opacity: 1;
                }
            }
        }

        div.menu-with-button {
            @include maxWidth(991) {
                flex-direction: column;
            }
        }

        div.form-action {
            button.red-button {
                @include maxWidth(1366) {
                    font-size: 14px;
                }

                @include maxWidth(1170) {
                    font-size: 14px;
                }
            }

            @include maxWidth(991) {
                flex: 0 100%;
                max-width: 100%;
            }
        }

    }
}

//
.choose-color {
    position: absolute;
    width: 100%;
    bottom: 25px;
    text-align: center;
    text-transform: uppercase;
    font-size: 10px;
}

.swiper-pagination-bullet:not(:last-child) {
    margin-right: 15px !important;

    &:last-child {
        margin-right: 0;
    }
}

#estimate-car {
    position: relative;
}

.swiper-pagination-car {
    $border: transparent;
    width: 100%;

    span {
        background-color: var(--data-color);
        width: 16px;
        height: 16px;
        margin-right: 15px;
        margin-bottom: 0.5rem;
        position: relative;
        border: 2px solid #dfdfdf;
        opacity: 1;
        display: inline-block;
        border-radius: 50%;

        &:after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            width: calc(100% + 12px);
            height: calc(100% + 12px);
            transform: translate(-50%, -50%);
            border: 1px solid transparent;
            border-radius: 50%;
            @include transition(all linear 0.3s);
            opacity: 1;
        }
    }

    span[data-color="#ffffff"] {
        border: 1px solid rgba(0, 0, 0, 0.4);
    }

    span.swiper-pagination-bullet-active {
        &:after {
            border-color: rgba(0, 0, 0, 0.4);
            @include transition(all linear 0.3s);
        }
    }
}

.swiper-pagination-car.bottom {
    @include maxWidth(400) {
        bottom: -3.5rem;
    }
}
