@import "mixin.scss";
@import "variable.scss";

.new-wrapper {
    .cover-content {
        margin-top: 2rem;

        &_banner {
            .swiper-new-banner {
                .swiper-wrapper {
                    .slide-new {
                        img {
                            height: 100vh;
                            width: 100%;
                            object-fit: cover;
                            object-position: center;

                            @include maxWidth(991) {
                                height: 100%;
                            }
                        }
                    }
                }
            }
        }

        &_new {
            div.new-category {
                img {
                    max-width: 100%;
                }

                .img-asp-ratio {
                    width: 100%;
                    object-fit: cover;
                }

                .list-post-new {
                    display: flex;

                    @include maxWidth(767) {
                        display: block;
                    }

                    .top {
                        flex: 0 0 49%;
                        max-width: 49%;

                        &:nth-child(1) {

                            margin-right: 2%;

                            @include maxWidth(767) {
                                margin-right: 0;

                            }

                        }

                        @include maxWidth(767) {
                            margin-top: 3rem;
                            flex: 0 0 100%;
                            max-width: 100%;

                        }

                        .top-new {
                            width: 100%;
                            height: 0%;
                            padding-bottom: 90%;
                            overflow: hidden;
                            position: relative;

                            a {
                                width: 100%;
                                height: 100%;
                                position: absolute;
                                display: block;

                                img {
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                }
                            }

                            &:hover {
                                @include minWidth(991) {
                                    .content-top {
                                        color: #fff;
                                        opacity: 1;
                                        transition: 0.5s;
                                        transform: translateY(0);
                                        -webkit-transition: all 0.8s ease-out;
                                        -moz-transition: all 0.8s ease-out;
                                        background-color: #00000080;
                                    }
                                }

                            }

                            background-color: #00000080;

                            .content-top {
                                color: #fff;
                                transition: 0.5s;
                                bottom: 0;
                                padding: 0 3rem;
                                position: absolute;

                                padding: 2rem;
                                transform: translateY(100%);
                                opacity: 0;

                                @include maxWidth(991) {
                                    transform: unset;
                                    opacity: 1;
                                    padding: 1rem;
                                    background-color: #00000080;
                                }

                                h2 {
                                    @include split_str(2);
                                    margin-bottom: 2rem;
                                    text-transform: uppercase;
                                    line-height: 1.7;

                                    @include maxWidth(991) {
                                        margin-bottom: 0;
                                    }

                                    @include maxWidth(480) {
                                        margin-top: 0;
                                        @include split_str(1);

                                    }

                                }

                                p {
                                    @include split_str(2);

                                    @include maxWidth(480) {
                                        @include split_str(1);
                                    }
                                }

                                .date-time {
                                    padding-top: 1.5rem;
                                    opacity: 0.5;

                                    @include maxWidth(991) {
                                        padding-top: 0;
                                    }

                                    @include maxWidth(767) {
                                        display: flex;
                                        flex-direction: row;
                                        justify-content: space-between
                                    }

                                    span.date {
                                        margin-right: 3rem;
                                    }
                                }


                            }
                        }
                    }

                }

                .form-action.new {
                    text-align: center;
                    padding-bottom: 6rem;
                }

                .list-post-hot {
                    display: flex;
                    margin-bottom: 8rem;

                    @include maxWidth(767) {
                        margin-top: 3rem;
                        flex-direction: column-reverse;
                        padding-bottom: 0;
                    }

                    .item-post-left-wrapper {
                        flex: 0 0 30%;
                        max-width: 30%;

                        @include maxWidth(767) {
                            max-width: 100%;
                        }

                        @include responsive(1080, 768) {
                            flex: 0 0 37%;
                            max-width: 37%;
                        }

                        .title-left {
                            padding-bottom: 2rem;
                            font-size: 25px;
                            text-align: center;
                            font-weight: bold;

                            // border-bottom: 1px solid #ADADAD;
                            @include maxWidth(480) {
                                padding: 3rem 0 0;
                                font-size: 25px;
                            }
                        }

                        .item-post-left {
                            .img-post-hot {
                                display: flex;
                                padding: 1rem;
                                border: 1px solid rgba(34,36,38,.15);
                                background: rgba(5,20,31,.03);

                                &:last-child {
                                    margin-bottom: 0;

                                    @include maxWidth(767) {
                                        margin-bottom: 3rem;
                                    }
                                }

                                .left {
                                    flex: 0 0 30%;
                                    max-width: 30%;

                                    @include maxWidth(767) {
                                        max-width: 100%;
                                    }

                                    .image-wrap {
                                        width: 100%;
                                        height: 0%;
                                        padding-bottom: 100%;
                                        overflow: hidden;
                                        position: relative;

                                        @include maxWidth(767) {
                                            padding-bottom: 56%;
                                        }

                                        a {
                                            width: 100%;
                                            height: 100%;
                                            position: absolute;
                                            display: block;

                                            &:hover {
                                                img {
                                                    transform: scale(1.08);
                                                }
                                            }

                                            img {
                                                width: 100%;
                                                height: 100%;
                                                object-fit: contain;
                                                transition: transform .3s, visibility .3s ease-in;
                                            }
                                        }
                                    }
                                }

                                .right {
                                    flex: 0 0 66%;
                                    max-width: 66%;
                                    margin-left: 4%;

                                    @include maxWidth(767) {
                                        max-width: 100%;
                                        margin: 2rem 0 0 0;
                                    }

                                    .title {
                                        a {
                                            font-family: $KiaSignature-Bold;
                                            display: block;
                                            color: $primary_color;
                                            @include split_str(2);

                                        }
                                    }

                                    .date-time {
                                        display: flex;

                                        @include maxWidth(767) {
                                            justify-content: space-between;
                                        }

                                        .date {
                                            display: flex;
                                            align-items: center;

                                            i {
                                                margin-right: 1rem;
                                            }

                                            @include responsive(1080, 768) {
                                                margin-right: 1rem;
                                            }
                                        }

                                        span {
                                            display: block;
                                            margin-right: 2rem;

                                            @include responsive(1080, 768) {
                                                margin-right: 0;
                                            }

                                            @include maxWidth(767) {
                                                margin: 0;
                                            }
                                        }

                                        margin-top: 1rem;
                                        color: #00000080;
                                    }
                                }

                                @include maxWidth(767) {
                                    flex-direction: column;
                                }
                            }

                        }
                    }

                    .item-post-right-wrapper {
                        margin-left: 4%;
                        flex: 0 0 66%;
                        max-width: 66%;

                        @include maxWidth(767) {
                            margin: 0;
                            max-width: 100%;
                        }

                        @include responsive(1080, 768) {
                            margin-left: 2%;
                            flex: 0 0 60%;
                            max-width: 60%;
                        }

                        .title-left {
                            padding-bottom: 2rem;
                            font-size: 25px;
                            font-weight: bold;
                            text-align: center;

                            // border-bottom: 1px solid #ADADAD;
                            @include maxWidth(480) {
                                padding: 3rem 0 0;
                                font-size: 25px;
                            }
                        }

                        .item-post-right {
                            display: flex;

                            @include maxWidth(767) {
                                display: block;
                            }

                            .item-post-one {
                                overflow: hidden;

                                .img-center-post-hot {
                                    .image-new-center {
                                        width: 100%;
                                        height: 0%;
                                        padding-bottom: 90%;
                                        overflow: hidden;
                                        position: relative;

                                        a {
                                            width: 100%;
                                            height: 100%;
                                            position: absolute;
                                            display: block;

                                            img {
                                                width: 100%;
                                                height: 100%;
                                                object-fit: cover;
                                                transition: transform 0.3s, visibility 0.3s ease-in;
                                            }
                                        }

                                        &:hover {
                                            img {
                                                transform: scale(1.08);
                                            }
                                        }
                                    }

                                    .img-post-new {
                                        display: flex;
                                        padding-bottom: 2rem;
                                        border-bottom: 1px solid #00000040;
                                        margin-bottom: 1rem;

                                        &:last-child {
                                            margin-bottom: 0;
                                            border-bottom: none;

                                            @include maxWidth(767) {
                                                margin-bottom: 3rem;
                                            }
                                        }

                                        .left {
                                            flex: 0 0 30%;
                                            max-width: 30%;

                                            @include maxWidth(767) {
                                                max-width: 100%;
                                            }

                                            .image-wrap {
                                                width: 100%;
                                                height: 0%;
                                                padding-bottom: 100%;
                                                overflow: hidden;
                                                position: relative;

                                                @include maxWidth(767) {
                                                    padding-bottom: 56%;
                                                }

                                                a {
                                                    width: 100%;
                                                    height: 100%;
                                                    position: absolute;
                                                    display: block;

                                                    &:hover {
                                                        img {
                                                            transform: scale(1.08);
                                                        }
                                                    }

                                                    img {
                                                        width: 100%;
                                                        height: 100%;
                                                        object-fit: contain;
                                                        transition: transform .3s, visibility .3s ease-in;
                                                    }
                                                }
                                            }
                                        }

                                        .right {
                                            flex: 0 0 70%;
                                            max-width: 70%;

                                            @include maxWidth(767) {
                                                max-width: 100%;
                                                margin: 2rem 0 0 0;
                                            }

                                            .title {
                                                font-size: 24px;

                                                &:hover {
                                                    a {
                                                        color: #adadad;
                                                    }
                                                }

                                                a {
                                                    font-family: $KiaSignature-Bold;
                                                    display: block;
                                                    color: $primary_color;
                                                    @include split_str(2);
                                                }
                                            }

                                            .date-time {
                                                display: flex;

                                                @include maxWidth(767) {
                                                    justify-content: space-between;
                                                }

                                                .date {
                                                    display: flex;
                                                    align-items: center;

                                                    i {
                                                        margin-right: 1rem;
                                                    }

                                                    @include responsive(1080, 768) {
                                                        margin-right: 1rem;
                                                    }
                                                }

                                                span {
                                                    display: block;
                                                    margin-right: 2rem;

                                                    @include responsive(1080, 768) {
                                                        margin-right: 0;
                                                    }

                                                    @include maxWidth(767) {
                                                        margin: 0;
                                                    }
                                                }

                                                margin-top: 1rem;
                                                color: #00000080;
                                            }
                                        }

                                        @include maxWidth(767) {
                                            flex-direction: column;
                                        }
                                    }

                                    .title-post-host {
                                        padding-top: 3rem;

                                        @include maxWidth(767) {
                                            padding-top: 2rem;
                                        }

                                        h2 {
                                            font-family: $KiaSignature-Bold;
                                        }

                                        a {
                                            font-family: $KiaSignature-Bold;
                                            display: block;
                                            color: $primary_color;
                                            @include split_str(2);

                                        }

                                        .date-time {
                                            padding: 2rem 0;
                                            color: #00000080;
                                            display: flex;

                                            @include maxWidth(767) {
                                                padding: 1rem 0;
                                            }

                                            .date {
                                                display: flex;
                                                align-items: center;

                                                i {
                                                    margin-right: 1rem;
                                                }
                                            }

                                            span {
                                                display: block;
                                                margin-right: 2rem;

                                                @include maxWidth(767) {
                                                    margin: 0;
                                                }
                                            }

                                            @include maxWidth(767) {
                                                justify-content: space-between;
                                            }
                                        }

                                        .content {
                                            font-family: $KiaSignature-Regular;
                                            @include split_str(3);
                                        }
                                    }
                                }

                                @include maxWidth(767) {
                                    flex: none;
                                    max-width: 100%;
                                    margin: 0;
                                    overflow: hidden;
                                    margin-bottom: 3rem;
                                }

                                @include responsive(1080, 768) {
                                    flex: 0 0 57%;
                                    max-width: 57%;
                                    margin-right: 2%;
                                    overflow: hidden;
                                }
                            }

                            .item-post-two {

                                .img-right-post-hot {
                                    margin-bottom: 4rem;

                                    @include maxWidth(767) {
                                        margin-bottom: 3rem;
                                    }

                                    .img-rigth-post {
                                        width: 100%;
                                        height: 0%;
                                        padding-bottom: 90%;
                                        overflow: hidden;
                                        position: relative;

                                        a {
                                            width: 100%;
                                            height: 100%;
                                            position: absolute;
                                            display: block;

                                            img {
                                                width: 100%;
                                                height: 100%;
                                                object-fit: cover;
                                                transition: transform 0.3s, visibility 0.3s ease-in;
                                            }
                                        }

                                        &:hover {
                                            img {
                                                transform: scale(1.08);
                                            }
                                        }


                                    }



                                    .title-content-img {
                                        padding: 2rem 0;

                                        @include maxWidth(767) {
                                            padding: 1rem 0;
                                        }

                                        a {
                                            font-family: $KiaSignature-Bold;
                                            display: block;
                                            color: $primary_color;
                                            @include split_str(2);

                                        }
                                    }

                                    .date-time {
                                        color: #00000080;
                                        display: flex;

                                        .date {
                                            display: flex;
                                            align-items: center;

                                            @include responsive(1080, 768) {
                                                margin-right: 1rem;
                                            }

                                            i {
                                                margin-right: 1rem;
                                            }
                                        }

                                        span {
                                            display: block;
                                            margin-right: 2rem;

                                            @include responsive(1080, 768) {
                                                margin-right: 0;
                                            }

                                            @include maxWidth(767) {
                                                margin: 0;
                                            }
                                        }

                                        @include maxWidth(767) {
                                            justify-content: space-between;
                                        }
                                    }
                                }

                                flex: 0 0 30%;
                                max-width: 30%;

                                @include maxWidth(767) {
                                    max-width: 100%;
                                }

                                @include responsive(1080, 768) {
                                    flex: 0 0 41%;
                                    max-width: 41%;
                                }
                            }

                        }
                    }

                }


                .display-list-news {
                    img {
                        max-width: 100%;
                        height: 100%;

                        @include responsive(1080, 768) {
                            object-fit: cover;
                        }

                        @include maxWidth(767) {
                            object-fit: cover;
                        }
                    }

                    display: flex;

                    @include maxWidth(767) {
                        flex-direction: column;
                    }

                    .display-list-news-left {
                        margin-right: 11%;
                        flex: 0 0 66%;
                        max-width: 66%;

                        @include maxWidth(767) {
                            margin: 0;
                            max-width: 100%;
                        }

                        .item-new-display {
                            .left {
                                flex: 0 0 33%;
                                max-width: 33%;
                                margin-right: 2%;

                                @include maxWidth(767) {
                                    max-width: 100%;
                                    margin-right: 0;
                                }

                                .img-list-new {
                                    width: 100%;
                                    height: 0%;
                                    padding-bottom: 70%;
                                    overflow: hidden;
                                    position: relative;

                                    a {
                                        &:hover {
                                            img {
                                                transform: scale(1.08);
                                            }
                                        }

                                        width: 100%;
                                        height: 100%;
                                        position: absolute;
                                        display: block;

                                        img {
                                            width: 100%;
                                            height: 100%;
                                            object-fit: cover;
                                            transition: transform 0.3s, visibility 0.3s ease-in;
                                        }
                                    }

                                }
                            }

                            .right {
                                flex: 1;

                                .content-list-new {

                                    p {
                                        @include split_str(2);
                                        color: $primary_color;
                                        font-family: $KiaSignature-Bold;
                                        width: 100%;
                                        margin-top: 2rem;

                                        @include responsive(1080, 768) {
                                            margin-top: 0;
                                        }
                                    }

                                    .date-time {
                                        padding: 1.5rem 0 2rem 0;
                                        color: #00000080;

                                        @include maxWidth(767) {
                                            display: flex;
                                            flex-direction: row;
                                            justify-content: space-between;
                                            padding: 1rem 0;
                                        }

                                        .date {
                                            margin-right: 2rem;

                                            @include responsive(1080, 768) {
                                                margin-right: 1rem;
                                            }
                                        }
                                    }

                                    .content-display {
                                        p {
                                            @include split_str(2);
                                            width: 100%;
                                            color: $primary_color;
                                            font-family: $KiaSignature-Regular;
                                            margin: 0;
                                            padding: 0;
                                        }
                                    }
                                }
                            }

                            display: flex;
                            padding-bottom: 6rem;

                            @include maxWidth(767) {
                                padding-bottom: 3rem;
                                flex-direction: column;
                            }
                        }
                    }

                    .display-list-news-right {
                        flex: 0 0 23%;
                        max-width: 23%;

                        @include maxWidth(767) {
                            display: none;
                        }

                        .display-list-news {
                            display: block;
                            position: sticky;
                            top: 100px;

                            .list-img-new-right {
                                padding-bottom: 2rem;
                            }
                        }

                    }
                }

                ul.new-category {
                    border-bottom: solid 2px $borderColor;

                    @include maxWidth(480) {
                        border-bottom: solid 0px $borderColor;
                    }

                    @include maxWidth(767) {
                        flex-wrap: wrap;
                    }

                    li {
                        @include maxWidth(767) {
                            flex: 0 50%;
                            margin-bottom: 0%;
                            border-bottom: 1.5px solid darkgray;
                        }
                    }
                }

                .list-new {
                    padding-top: 4%;
                    flex-direction: row;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    grid-gap: 30px;
                    margin: 0;

                    @include maxWidth(991) {
                        grid-template-columns: repeat(2, 1fr);
                        grid-gap: 10px;
                    }

                    @include maxWidth(576) {
                        grid-template-columns: repeat(1, 1fr);
                        grid-gap: 10px;
                    }

                    .___news_item {
                        margin-bottom: 5%;
                        display: flex;
                        flex-direction: column;

                        .news-image {
                            cursor: pointer;
                            overflow: hidden;

                            .img {
                                height: 0;
                                padding-top: calc(3 * 30%);
                                background-position: center;
                                background-repeat: no-repeat;
                                background-size: cover;
                            }
                        }
                    }
                }

                .slider-hot {
                    display: none;

                    .title-left {
                        padding-bottom: 1rem;
                        border-bottom: 1px solid #adadad;
                        margin: 0 0 2rem 0;
                    }

                    .swiper-hot .img-post-hot .right .date-time {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        margin: 1rem;

                    }

                    @include maxWidth(767) {
                        display: block;
                    }
                }

                .slider-new {
                    display: none;
                    margin: 2rem 0;

                    .title-left {
                        padding-bottom: 1rem;
                        border-bottom: 1px solid #adadad;
                        margin: 0 0 2rem 0;
                    }

                    .swiper-new .img-post-hot .right .date-time {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        margin: 1rem;

                    }

                    @include maxWidth(767) {
                        display: block;
                    }
                }

            }
        }
    }
}
