$UTMBanque: 'UTMBanque',
sans-serif;
$UTMBanqueBold: 'UTMBanqueBold',
sans-serif;
$UTMHanzel: 'UTMHanzel',
sans-serif;
$KIAM: 'KIAM',
sans-serif;
$KIAB: 'KIAB',
sans-serif;
$KiaSignature-Bold: 'VN-KiaSignature-Bold',
sans-serif;
$KiaSignature-Light: 'VN-KiaSignature-Light',
sans-serif;
$KiaSignature-Regular: 'VN-KiaSignature-Regular',
sans-serif;
//color
$primary_color:#05141F;
$black: #000000;
$black-about: #010001;
$white: #ffffff;
// $red: #ac2b31;
$red: #EA0029;
$red-paginate: #aa221d;
$grayBG: #353435;
$black-text: #1f1f1f;
$gray-text: #acacac;
$gray-bg: #e3dcda;
$blackBG: #222222;
$gbColor: #535353;
$footer-text: #919191;
$borderColor: #e5e5e5;
$gray-line:#f2f5f6;
$bg-gray-sort:#e4e8e9;
$grayLinkColor: #c1c1c1;
$focus-input:rgb(229, 151, 0);
$button-accept-cookie:#af2621;
$link-cookie:#0a93e2;
$backgroundCollapse: #f2f5f6;
$backgroundNiceSelect: #f2f5f6;
$borderTable: #c8cacb;
$backgroundTable: #edefef;
$color-blue: #02406a;
$sorento-blue: #002140;
.mCSB_draggerRail {
    display: none !important;
}
